.presale {
	margin-top: 107px;
	@media (max-width: 1919px){
		margin-top: 98px;
	}
	@media (max-width: 1439px){
		margin-top: 107px;
	}
	@media (max-width: 1023px){
		margin-top: 5px;
	}
	@media (max-width: 479px){
		margin-top: 30px;
	}
	&__container {
	}
	
		&__title {
			text-align: center;
			max-width: 634px;
			margin: 0 auto;
			@media (max-width: 767px){
				max-width: 319px;
			}
			@media (max-width: 479px){
				max-width: 198px;
			}
		}
	
		&__text {
			text-align: center;
			max-width: 748px;
			margin: 0 auto;
			br {
				display: none;
			}
			@media (max-width: 1439px){
				font-size: 18px!important;
				line-height: 22px!important;
			}
			@media (max-width: 1023px) {
				font-size: 14px !important;
				line-height: 17px !important;
				width: 566px;
			}
			@media (max-width: 767px){
				width: 395px;
				br {
					display: block;
				}
			}
			@media (max-width: 479px){
				width: 100%;
				font-size: 10px!important;
				line-height: 12px!important;
			}
		}
	
		&__items {
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1919px){
				margin-top: 55px;
			}
			@media (max-width: 1023px){
				flex-direction: column;
				align-items: center;
				margin-top: 0px;
			}
		}
	
			&__item {
				flex: 0 1 370px;
					background: url('../img/svg/presale.1svg') 0 0 no-repeat;
				@media (max-width: 1439px){
					flex: 0 1 288px;
				}
				@media (max-width: 1023px){
					margin-top: 30px;
				}
			}
	
				&__card {
						box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
						border-radius: 40px;
						height: 100%;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 600;
						font-size: 20px;
						line-height: 24px;
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
						color: #F4F6F8;
						padding: 30px 16px;
						background: linear-gradient(180deg, #000034 0%, #897DF7 100%);
						position: relative;
						@media (max-width: 1439px){
							max-width: 288px;
							padding: 30px 24px;
							br {
								display: none;
							}
						}
						&::before{
							content:'';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 81px;
							background: url('../img/svg/presale/stars.svg') 0 0 / 100% 100% no-repeat;
						}
					&-title {
							font-size: 24px;
							line-height: 29px;
					}
					
					&-top {
						margin-top: 24px;
					}
					
					&-center {
						margin-top: 16px;
					}
					
					&-bottom {
						flex: 1 1 auto;
						margin-top: 16px;
					}
					
					&-btn {
						width: 278px;
						height: 50px;
						margin-top: 26px;
						background: #00DBC8;
							box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
							border-radius: 10px;
							font-family: 'Inter';
								font-style: normal;
								font-weight: 600;
								font-size: 24px;
								line-height: 29px;
								display: flex;
								align-items: center;
								justify-content: center;
								text-align: center;
								color: #F4F6F8;
								@media (max-width: 1439px){
									width: 220px;
								}
					}
				}
}

