.bridges-page {
	p {
		text-align: left;
		@media (max-width: 1023px){
			max-width: 100%!important;
		}
	}
}
.general-row {
	display: flex;
	justify-content: space-between;
	@media (max-width: 1023px){
		flex-direction: column;
		align-items: center;
	}
}


.hero-bridges-page {
	&__container {}
	
			&__row {
					padding-top: 20px;
					display: flex;
					justify-content: space-between;	
					@media (max-width: 1023px){
						flex-direction: column;
						align-items: center;
					}
				h1 {
					display: block;
					width: 500px;
						margin-top: 60px;
					@media (max-width: 1023px){
						margin-top: 0;
						text-align: center;
					}
					@media (max-width: 767px){
						width: 450px;
					}
					@media (max-width: 479px){
						width: 300px;
					}
					span {
						&:first-child{
							color: #627EEA;
						}
						&:last-child{
							color: #EEB909;
						}
					}
				}
			}

				&__img {
					margin-right: 75px;
					@media (max-width: 1439px){
						margin-top: 44px;
					}
					@media (max-width: 1023px){
						margin-top: 67px;
						margin-right: 0;
					}
					@media (max-width: 767px){
						margin-top: 61px;
					}
					@media (max-width: 479px){
						margin-top: 34px;
					}
					img {
						width: 401px;
						height: 256px;
						@media (max-width: 1439px){
							width: 265px;
							height: 169px;
						}
					}
				}
				p {
					margin-top: 109px;
					@media (max-width: 1919px){
						margin-top: 171px;
					}
					@media (max-width: 1023px){
						margin-top: 67px;
					}
					@media (max-width: 767px){
						margin-top: 61px;
					}
					@media (max-width: 479px){
						margin-top: 36px;
					}
				}
}






.bridges-page__whatis {}

.whatis-bridges-page {
	margin-top: 40px;
	@media (max-width: 1439px){
		margin-top: 60px;
	}
	@media (max-width: 479px){
		margin-top: 24px;
	}
	&__container {}


	h2 {
		width: 100%;
		justify-content: center;
	}
		&__text-img1 {
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;
			@media (max-width: 479px){
				margin-bottom: 14px;
			}
			p {
				max-width: 570px;
				margin-top: 51px;
				@media (max-width: 1439px){
					margin-right: -22px;
				}
				@media (max-width: 1023px){
					margin-right: 0;
				}
				@media (max-width: 479px){
					margin-top: 60px;
				}
			}
		}
	
			&__img1 {
				margin-top: 40px;
				margin-left: 196px;
				@media (max-width: 1439px){
					margin-top: 76px;
					margin-left: 142px;
					img {
						width: 150px;
						height: 187px;
					}
				}
				@media (max-width: 1023px) {
					margin-left: 0;
				}
				@media (max-width: 479px){
					margin-top: 48px;
					margin-bottom: 0px;
					img {
						width: 100px;
						height: 124px;
					}
				}
			}

	&__items {
		display: flex;
		justify-content: center;
	}
		&__row {
			margin-top: 61px;
			margin-bottom: 69px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1439px){
				width: 570px;
				justify-content: center;
				flex-wrap: wrap;
				row-gap: 30px;
			}
			@media (max-width: 479px){
				margin-top: 34px;
				margin-bottom: 14px;
				row-gap: 10px;
			}
		}
	
			&__item {
				flex: 0 1 270px;
				display: flex;
				flex-direction: column;
				align-items: center;
				@media (max-width: 479px){
					flex: 0 1 180px;
				}
			}
	
				&__num {
					width: 100px;
					height: 100px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 64px;
					line-height: 77px;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					color: #FFFFFF;
					background: #00DBC8;
					border-radius: 50%;
					box-shadow: 0px 0px 40px #00DBC8;
					@media (max-width: 479px){
						width: 66px;
						height: 66px;
						font-size: 42px;
						line-height: 51px;
					}
				}
	
				&__text {
					margin-top: 15px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 24px;
					text-align: center;
					color: #F4F6F8;
					@media (max-width: 767px){
						font-size: 14px;
						line-height: 17px;
					}
					@media (max-width: 479px){
						margin-top: 10px;
						font-size: 10px;
						line-height: 12px;
					}
				}
	
		&__text-img2 {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			@media (max-width: 767px){
				margin-bottom: 24px;
			}
			p {
				max-width: 500px;
				margin-top: 60px;
				@media (max-width: 1023px){
					order: 2;
				}
			}
		}
	
			&__img2 {
				margin-top: 30px;
				margin-right: 198px;
				@media (max-width: 1919px){
					margin-right: 214px;
				}
				@media (max-width: 1439px){
					margin-right: 45px;
				}
				@media (max-width: 1023px){
					margin-right: 0;
					order: 1;
				}
				@media (max-width: px){
					  
				}
				img {
					width: 100%;
					height: 100%;
					@media (max-width: 479px){
						width: 180px;
						height: 174px;
					}
				}
			}
}

.bridges-page__cards {}

.cards-bridges-page {
	margin-top: 60px;
	&__container {
		@media (max-width: 1023px){
			padding: 0!important;
		}
	}
		h3 {
			@media (max-width: 1023px){
				display: none;
			}
		}
		p {
			@media (max-width: 1023px){
				padding: 0 30px;
			}
			@media (max-width: 767px){
				  padding: 0 15px;
			}
			@media (max-width: 479px){
				  
				padding: 0 10px;
			}
			&:last-child{
				margin-top: 60px;
				@media (max-width: 1023px){
					margin-top: 24px;
				}
				@media (max-width: 479px){
					margin-top: 14px;
				}
			}
		}

		&__items {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: 60px -30px;
			row-gap: 30px;
			@media (max-width: 1439px){
				margin: 60px 0;
			}
			@media (max-width: 767px){
				row-gap: 14px;
				margin: 36px 0;
			}
		}
	
		&__item {
			padding: 0 15px;
			flex: 0 1 33.333%;
			@media (max-width: 1023px){
				padding: 0 4px;
			}
		}
	
		&__column {
			display: flex;
			flex-direction: column;
			align-items: center;
			border: 8px solid #F4F6F8;
			border-radius: 30px;
			height: 100%;
			padding: 19px 8px 8px;
			@media (max-width: 1439px){
				width: 370px;
			}
			@media (max-width: 1023px){
				width: 350px;
			}
			@media (max-width: 767px){
				border: 4px solid #F4F6F8;
			}
			@media (max-width: 479px){
				width: 233px;
				height: 223px;
			padding: 4px 4px 17px;
				border: 3px solid #F4F6F8;
			}
		}
	
		&__icon {
			width: 64px;
			height: 64px;
			img {
				width: 100%;
				height: 100%;
			}
			@media (max-width: 479px){
				width: 42px;
				height: 42px;
			}
		}
	
		&__title {
			width: 250px;
			margin-top: 10px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			display: flex;
			align-items: center;
			text-align: center;
			color: #F4F6F8;
			@media (max-width: 479px){
				margin-top: 8px;
				width: 166px;
				font-size: 16.0018px;
					line-height: 19px;
			}
		}
	
		&__text {
			margin-top: 16px;
			font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				display: flex;
				align-items: center;
				text-align: center;
			
				color: #F4F6F8;
				@media (max-width: 479px){
					margin-top: 10px;
					font-size: 10px;
					line-height: 12px;
				}
				&-smaller {
					font-size: 14px;
						line-height: 15px;
						@media (max-width: 479px){
							font-size: 9px;
							line-height: 105.02%;
						}
				}
		}
}









.bridges-page__type {}

.type-bridges-page {
	margin-top: 60px;
	h3 {
		color: #EEB909;
	}
	p {
		&:nth-child(1) {
			margin-top: 24px;
		}
	}
	&__container {
		
		
	}
		&__binance {
			margin-top: 60px;
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			@media (max-width: 767px){
				margin-top: 27px;
			}
			p {
				margin-top: 24px;
				@media (max-width: 1023px) {
						margin-top: 36px;
					}
					@media (max-width: 767px){
						margin-top: 10px;
					}
			}
		} 
		&__openbisea {
			margin-top: 40px;
			@media (max-width: 1023px) {
					margin-top: 36px;
				}
			p {
				margin-top: 24px;
				@media (max-width: 767px){
					margin-top: 10px;
				}
			}
		} 
		&__komodo {
			margin-top: 80px;
			@media (max-width: 767px){
				margin-top: 24px;
			}
			p {
				&:nth-child(2){
					margin-top: 24px;
					@media (max-width: 767px){
						margin-top: 10px;
					}
				}
				&:nth-child(3){
					margin-top: 48px;
					@media (max-width: 767px){
						margin-top: 24px;
					}
				}
				&:nth-child(4){
					margin-top: 48px;
					@media (max-width: 767px){
						margin-top: 24px;
					}
				}
			}
		}


		h2 {
			display: block;
			text-align: center;
			@media (max-width: 1023px){
				br {
					display: none;
				}
			}
			span {
				&:first-child{
					color: #627EEA;
				}
				&:last-child{
					color: #EEB909;
				}
			}
		}
		
		
		&__body {
			p {
				margin-top: 101px;
				width: 569px;
				@media (max-width: 1023px){
					margin-top: 53px;
					text-align: center;
					width: 100%;
				}
				@media (max-width: 767px){
					margin-top: 51px;
				}
			}
		}
	
			&__img {
				margin-top: 5px;
				margin-left: 202px;
				@media (max-width: 1439px){
					margin-left: 31px;
				}
				@media (max-width: 1023px){
					margin-top: 58px;
					margin-left: 0;
				}
				@media (max-width: 767px){
					margin-top: 31px;
				}
				@media (max-width: 479px){
					width: 139px;
					height: 197px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
	
		&__items {
			margin-top: 60px;
			display: flex;
			justify-content: center;
			@media (max-width: 767px){
				margin-top: 24px;
			}
		}
	
			&__row {
				display: flex;
				margin: 0 -15px;
				@media (max-width: 1439px){
					justify-content: center;
					flex-wrap: wrap;
					row-gap: 30px;
				}
				@media (max-width: 767px){
					row-gap: 14px;
					margin: 0;
				}
			}
	
				&__item {
					flex: 0 1 33.333%;
					padding: 0 15px;
					display: flex;
					flex-direction: column;
					align-items: center;
					@media (max-width: 1439px){
						flex: 0 1 370px;
					}
					@media (max-width: 767px){
						flex: 0 1 340px;
					}
					@media (max-width: 479px){
						flex: 0 1 218px;
					}
				}
	
					&__icon {
						width: 110px;
							height: 110px;
						font-family: 'Inter';
							font-style: normal;
							font-weight: 600;
							font-size: 64px;
							line-height: 77px;
							display: flex;
							justify-content: center;
							align-items: center;
							text-align: center;
							border-radius: 50%;
							color: #FFFFFF;
							background: #EEB909;
							box-shadow: 0px 0px 40px #EEB909;
							@media (max-width: 479px){
								width: 72px;
								height: 72px;
								font-size: 42px;
									line-height: 51px;
							}
					}
	
					&__text {
						margin-top: 15px;
						font-family: 'Inter';
							font-style: normal;
							font-weight: 500;
							font-size: 20px;
							line-height: 24px;
							display: flex;
							align-items: center;
							text-align: center;
						
							color: #F4F6F8;
							@media (max-width: 767px){
								font-size: 14px;
								line-height: 17px;
								width: 100%;
							}
							@media (max-width: 479px){
								font-size: 10px;
								line-height: 12px;
							}
					}
}






.bridges-page__work {}

.work-bridges-page {
	margin-top: 60px;
	margin-bottom: 80px;
	@media (max-width: 1023px){
		margin-top: 67px;
		margin-bottom: 82px;
	}
	@media (max-width: 767px){
		margin-top: 36px;
		margin-bottom: 40px;
	}
	&__container {}
	h2 {
		display: flex;
		justify-content: center;
		text-align: center;
	}
		p {
			margin-top: 48px;
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
				&:first-child{
					margin-top: 36px;
				}
			}
			@media (max-width: 4799px){
				margin-top: 14px;
			}
		}
		&__body {
			@media (max-width: 1023px){
				display: flex;
				flex-direction: row;
			}
			@media (max-width: 767px){
				flex-direction: column;
			}
		}

			&__description {
				margin-top: 115px;
				width: 500px;
				font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 29px;
					color: #F4F6F8;
					@media (max-width: 1023px){
						margin-top: 95px;
						width: 330px;
					}
					@media (max-width: 767px){
						width: 300px;
						margin-top: 76px;
						font-size: 14px;
							line-height: 17px;
							order: 2;
							text-align: center;
					}
					@media (max-width: 479px){
						width: 200px;
						margin-top: 35px;
						font-size: 10px;
							line-height: 12px;
					}
					span {
						background: linear-gradient(90deg, #EB00FF 53%, #00DBC8 65.8%);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							background-clip: text;
							text-fill-color: transparent;
					}
			}
		
			&__img {
				margin-top: 45px;
				margin-right: 270px;
				@media (max-width: 1439px){
					margin-top: 41px;
					margin-right: 127px;
				}
				@media (max-width: 1023px){
					margin-top: 35px;
					margin-right: 54px;
				}
				@media (max-width: 767px){
					margin-top: 29px;
					margin-right: 0;
					order: 1;
				}
				@media (max-width: 479px){
					width: 133px;
					height: 128px;
					margin-top: 25px;
					img {
						width: 100%;
						height: 100%;
					}
				}

			}
	
		&__items {
			margin-top: 40px;
			@media (max-width: 1439px){
				display: flex;
				justify-content: center;
			}
			@media (max-width: 1023px){
				margin-top: 50px;
			}
			@media (max-width: 767px){
				margin-top: 10px;
			}
			@media (max-width: 479px){
				margin-top: 24px;
			}
		}
	
			&__row {
				display: flex;
				justify-content: space-between;
				margin: 0 -15px;
				@media (max-width: 1439px){
					justify-content: center;
					margin: 0;
					width: 600px;
					flex-wrap: wrap;
					row-gap: 60px;
				}
				@media (max-width: 767px){
					width: 270px;
					row-gap: 14px;
				}
				@media (max-width: 479px){
					width: 180px;
					row-gap: 10px;
				}
			}
	
				&__item {
					padding: 0 15px;
					flex: 0 1 25%;
					@media (max-width: 1439px){
						flex: 0 0 50%;
					}
					@media (max-width: 767px){
						flex: 1 1 100%;
						padding: 0;
					}
				}
	
					&__column {
						display: flex;
						flex-direction: column;
						align-items: center;
					}
	
						&__icon {
							width: 100px;
							height: 100px;
							background: linear-gradient(180deg, #EB00FF 0%, #00DBC8 100%);
								box-shadow: 0px 0px 40px #6F72E2;
								border-radius: 50%;
							font-family: 'Inter';
								font-style: normal;
								font-weight: 600;
								font-size: 64px;
								line-height: 77px;
								display: flex;
								justify-content: center;
								align-items: center;
								text-align: center;
							
								color: #FFFFFF;
								@media (max-width: 479px){
									width: 66px;
									height: 66px;
									font-size: 42px;
										line-height: 51px;
								}
						}
	
						&__text {
							margin-top: 15px;
							font-family: 'Inter';
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 24px;
								display: flex;
								align-items: center;
								text-align: center;
							
								color: #F4F6F8;
								@media (max-width: 767px){
									font-size: 14px;
										line-height: 17px;
										margin-top: 50px;
								}
								@media (max-width: 479px){
									margin-top: 14px;
									font-size: 10px;
										line-height: 12px;
								}
						}
}

