/* hero-buy-page */
.hero-buy-page {
	&__container {
		>p {
			text-align: left;
			margin-top: 48px;

			@media (max-width: 767px) {
				margin-top: 24px;
			}

			@media (max-width: 479px) {
				margin-top: 14px;
			}
		}
	}

	&__body {
		&--left {
			margin-top: 62px;
			@media (max-width: 1439px){
				margin-top: 0;
			}
			h1 {
				width: 500px;
				display: block;
				@media (max-width: 1439px){
					width: 486px;
				}
				@media (max-width: 1023px){
					width: 100%;
					text-align: center;
				}
				@media (max-width: 767px) {
					text-align: center;
				}

				span {
					background: linear-gradient(90deg, #EB00FF 73.6%, #00DBC8 99.1%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
				}
			}

			p {
				width: 600px;
				margin-top: 32px;

				@media (max-width: 1439px) {
					width: 513px;
				}
			}
		}

		&--text-desktop {
			@media (max-width: 1023px) {
				display: none;
			}
		}

		&--text-mobile {
			display: none;

			@media (max-width: 1023px) {
				display: block;
				margin-top: 102px;
				text-align: left;
			}

			@media (max-width: 767px) {
				margin-top: 101px;
			}

			@media (max-width: 479px) {
				margin-top: 63px;
			}
		}
	}

	&__img {
		margin-top: 63px;
		margin-right: 100px;
		position: relative;
		
			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				top: -85px;
				left: -110px;
				width: 490px;
				height: 510px;
				background: url('../img/pages/buy-page/back1.svg') 0 0 / 100% 100% no-repeat;
		
				@media (max-width: 1439px) {
					width: 401px;
					height: 366px;
					top: -95px;
					left: -24px;
				}
		
				@media (max-width: 1023px) {
					width: 393px;
					height: 428px;
					top: -120px;
					left: -24px;
				}
		
				@media (max-width: 767px) {
					width: 390px;
					height: 476px;
					top: -151px;
					left: -23px;
				}
		
				@media (max-width: 479px) {
					width: 218px;
					height: 257px;
					top: -64px;
					left: -34px;
				}
			}
		@media (max-width: 1439px) {
			width: 233px;
			height: 281px;
			margin-top: 102px;
			margin-right: 89px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		@media (max-width: 1023px) {
			margin-top: 65px;
			margin-right: 0;
		}

		@media (max-width: 767px) {
			margin-top: 56px;
		}

		@media (max-width: 479px) {
			width: 155px;
			height: 187px;
			margin-top: 38px;
		}
	}
}


/* easy-buy-page */
.easy-buy-page {
	margin-top: 60px;
	@media (max-width: 767px){
		margin-top: 36px;
	}
	&__container {
		h2 {
			@media (max-width: 1439px){
				text-align: center;
			}
		}
		p {
			text-align: left;
			margin-top: 48px;
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			&:first-child{
				@media (max-width: 479px){
					margin-top: 12px!important;
				}
			}
			&:nth-child(4){
				margin-top: 60px;
				@media (max-width: 1023px){
					margin-top: 48px;
				}
				@media (max-width: 767px){
					margin-top: 24px;
				}
				@media (max-width: 479px){
					margin-top: 9px;
				}
			}
			&:nth-child(6) {
				margin-top: 60px;
				text-align: center;
				width: 1150px;
				max-width: 100%;
				@media (max-width: 1023px){
					margin-top: 48px;
				}
				@media (max-width: 767px){
					margin-top: 36px!important;
				}

			}
			&:last-child{
				margin-top: 60px;
				font-weight: 600;
				@media (max-width: 1023px){
					margin-top: 48px;
				}
			}

			@media (max-width: 767px) {
				margin-top: 24px;
			}
			@media (max-width: 479px){
				margin-top: 9px;
			}
		}
	}
	
		&__reference {
			background: #9980C8;
			box-shadow: 0px 0px 10px #F4F6F8;
			border-radius: 30px;
			border: 4px solid #F4F6F8;
			display: flex;
			justify-content: space-between;
			padding: 33px 38px 40px;
			margin-top: 60px;
			@media (max-width: 1023px){
				margin-top: 48px;
			}
			@media (max-width: 767px){
				flex-direction: column;
				align-items: center;
				padding: 21px 0px;
			}
			@media (max-width: 479px){
				margin-top: 21px;
				box-shadow: 0px 0px 6.66667px #F4F6F8;
				border-radius: 20px;
				border: 2.66667px solid #F4F6F8;
				padding: 14px 0px 10px;
			}
			&--left {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1 1 auto;
				margin-right: 56px;
				position: relative;
				@media (max-width: 767px){
					width: 300px;
					margin-right: 0;
					margin-bottom: 24px;
					padding-bottom: 24px;
				}
				@media (max-width: 479px){
					width: 200px;
					margin-bottom: 11px;
					padding-bottom: 16px;
				}
				img {
					width: 104px;
					height: 173px;
					@media (max-width: 479px){
						width: 70px;
						height: 116px;
					}
				}
				&::after{
					content:'';
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 3px;
					background-color: #ffffff;
					@media (max-width: 767px){
						top: 100%;
						width: 100%;
						height: 3px;
					}
					@media (max-width: 479px){
						height: 2px;
					}
				}
			}
			
			&--right {
				flex: 0 0 819px;
				@media (max-width: 1439px){
					flex: 0 0 586px;
				}
				@media (max-width: 1023px){
					flex: 0 0 390px;
				}
				@media (max-width: 767px){
					width: 420px;
					flex: 1 1 auto;
					text-align: center;
				}
				@media (max-width: 479px){
					width: 280px;
				}
			}
			
				&--title {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 36px;
					line-height: 44px;
					text-align: center;
					color: #FFFFFF;
					@media (max-width: 767px){
						font-size: 20px;
						line-height: 24px;
					}
				}
			
				&--text {
					margin-top: 16px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 22px;
					color: #F4F6F8;
					@media (max-width: 767px){
						margin-top: 24px;
						font-size: 14px;
						line-height: 17px;
					}
					@media (max-width: 479px){
						margin-top: 6px;
						font-size: 10px;
						line-height: 12px;
					}
					span {
						&:first-child{
							color: #3BBCFF;
						}
						&:last-child{
							color: #EEB909;
						}
					}
				}
		}
	
		&__items {
			margin-top: 91px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1439px){
				flex-wrap: wrap;
				width: 687px;
				margin: 91px auto 0;
				row-gap: 30px;
			}
			@media (max-width: 1023px){
				width: 626px;
				margin-top: 79px;
			}
			@media (max-width: 767px){
				width: 270px;
				margin-top: 67px;
				row-gap: 45px;
			}
			@media (max-width: 479px){
				width: 180px;
				margin-top: 45px;
				row-gap: 30px;
			}
		}

			&__item {
				@media (max-width: 1439px){
				}
			}

				&__column {
					width: 270px;
					display: flex;
					flex-direction: column;
					align-items: center;
					@media (max-width: 767px){
						width: 100%;
					}
				}
	
					&__icon {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						background: #9980C8;
						box-shadow: 0px 0px 40px #9980C8;
						@media (max-width: 479px){
							width: 67px;
							height: 67px;
						}
						img {
							width: 60px;
							height: 60px;
							@media (max-width: 479px){
								width: 40px;
								height: 40px;
							}
						}
					}
	
					&__text {
						margin-top: 15px;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						line-height: 24px;
						display: flex;
						align-items: center;
						text-align: center;
						color: #F4F6F8;
						@media (max-width: 767px){
							margin-top: 65px;
							font-size: 14px;
							line-height: 17px;
						}
						@media (max-width: 479px){
							margin-top: 11px;
							font-size: 10px;
							line-height: 12px;
						}
					}
}
