/* hero-crowdfunding-page */
.hero-crowdfunding-page {
	&__row {
		h1 {
			width: 500px;
			max-width: 100%;
			margin-top: 76px;
			display: block;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 48px;
			line-height: 58px;
			color: #FFFFFF;
			@media (max-width: 1439px){
				margin-top: 48px;
			}
			@media (max-width: 1023px){
				margin-top: 0;
				text-align: center;
				margin: 0 auto;
			}
			@media (max-width: 767px){
			}
			span {
				background: linear-gradient(90deg, #EB00FF 0%, #00DBC8 25.8%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}
	p {
		margin-top: 48px;
		@media (max-width: 1023px){
			margin-top: 36px;
		}
		@media (max-width: 767px){
			text-align: left;
			margin-top: 24px;
		}
		@media (max-width: 479px){
			margin-top: 14px;
		}
		&:nth-child(2){
			margin-top: 108px;
			font-weight: 600;
			@media (max-width: 1439px){
				margin-top: 95px;
			}
			@media (max-width: 1023px){
				margin-top: 117px;
			}
			@media (max-width: 767px){
				margin-top: 111px;
			}
			@media (max-width: 479px){
				margin-top: 68px;
			}
		}
	}
		&__img {
			margin-top: 14px;
			margin-right: 135px;
			position: relative;
			
				&::before {
					content: '';
					position: absolute;
					z-index: -1;
					top: -46px;
						left: -58px;
						width: 494px;
						height: 449px;
					background: url('../img/pages/crowdfunding-page/back1.svg') 0 0 / 100% 100% no-repeat;
			
					@media (max-width: 1439px) {
						width: 388px;
						height: 390px;
						top: -50px;
						left: -45px;
					}
			
					@media (max-width: 1023px) {
						width: 407px;
						height: 386px;
						top: -50px;
						left: -45px;
					}
			
					@media (max-width: 767px) {
						width: 397px;
						height: 371px;
						top: -43px;
						left: -40px;
					}
			
					@media (max-width: 479px) {
						width: 270px;
						height: 246px;
						top: -25px;
						left: -33px;
					}
				}
			@media (max-width: 1439px){
				width: 315px;
				height: 232px;
				margin-right: 49px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			@media (max-width: 1023px){
				margin-top: 50px;
				margin-right: 0;
			}
			@media (max-width: 767px){
				margin-top: 44px;
			}
			@media (max-width: 479px){
				width: 210px;
				height: 154px;
				margin-top: 22px;
			}
		}
}


/* model-crowdfunding-page */
.model-crowdfunding-page {
	&__container {
		p {
			margin-top: 48px;
			text-align: left;
			@media (max-width: 767px){
				margin-top: 36px;
			}
			@media (max-width: 479px){
				&:nth-child(3){
					margin-top: 24px;
				}
				&:last-child{
					margin-top: 16px;
				}
			}
		}
		ul {
			margin-top: 25px;
			@media (max-width: 767px){
				margin-top: 7px;
			}
			li {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 29px;
				display: flex;
				align-items: center;
				color: #F4F6F8;
				padding-left: 38px;
				position: relative;
				@media (max-width: 767px){
					font-size: 14px;
					line-height: 17px;
					padding-left: 21px;
				}
				@media (max-width: 479px){
					font-size: 10px;
					line-height: 12px;
					padding-left: 16px;
				}
				&::before{
					content:'';
					position: absolute;
					top: 50%;
					left: 15px;
					width: 8px;
					height: 8px;
					transform: translate(0, -50%);
					background-color: #ffffff;
					border-radius: 50%;
					@media (max-width: 767px){
						width: 4px;
						height: 4px;
						left: 9px;
					}
					@media (max-width: 479px){
						width: 3px;
						height: 3px;
						left: 6px;
					}
				}
			}
		}
	}
	
		&__items-top {
			margin-top: 48px;
			@media (max-width: 767px){
				margin-top: 36px;
			}
			@media (max-width: 479px){
				margin-top: 24px;
			}
		}
	
			&__row-top {
				display: flex;
				margin: 0 -15px;
				@media (max-width: 1439px){
					margin: 0 -11.5px;
				}
				@media (max-width: 1023px){
					margin: 0 -9px;
				}
				@media (max-width: 767px){
					margin: 0 -5.75px;
				}
				@media (max-width: 479px){
					margin: 0 -4px;
				}
			}
	
				&__item-top {
					padding: 0 15px;
					@media (max-width: 1439px){
						padding: 0 11.5px;
					}
					@media (max-width: 1023px){
						padding: 0 9px;
					}
					@media (max-width: 767px){
						padding: 0 5.75px;
					}
					@media (max-width: 479px){
						padding: 0 4px;
					}
					&:not(:last-child) {
						.model-crowdfunding-page__title-top {
							position: relative;
							&::after{
								content:'';
								position: absolute;
								right: 0;
								top: 50%;
								background: url('../img/pages/crowdfunding-page/arrows.svg') 0 0 / 100% 100% no-repeat;
								width: 30px;
								height: 40px;
								transform: translate(100%, -50%);
								@media (max-width: 1439px){
									width: 23px;
									height: 31px;
								}
								@media (max-width: 1023px){
									width: 18px;
									height: 24px;
								}
								@media (max-width: 767px){
									width: 11.51px;
									height: 15.35px;
								}
								@media (max-width: 479px){
									width: 8px;
									height: 10px;
								}
							}
						}
					}
					&:last-child{
						position: relative;
						&::after{
							content:'';
							position: absolute;
							bottom: -45px;
							left: 50%;
							width: 5px;
							height: 45px;
							background-color: #ffffff;
							transform: translate(-50%, 0);
							@media (max-width: 1439px){
								bottom: -32px;
								height: 32px;
							}
							@media (max-width: 1023px){
								bottom: -30px;
								height: 30px;
							}
							@media (max-width: 767px){
								width: 2px;
								bottom: -18px;
								height: 19px;
							}
							@media (max-width: 479px){
								width: 1.5px;
								bottom: -9px;
								height: 9px;
							}
						}
					}
				}
	
					&__column-top {
						width: 370px;
						@media (max-width: 1439px){
							width: 291px;
						}
						@media (max-width: 1023px){
							width: 223px;
						}
						@media (max-width: 767px){
							width: 142px;
						}
						@media (max-width: 479px){
							width: 94px;
						}
						.color1 {
							background: #FFB3E7;
						}
						.color2 {
							background: #00DBC8;
						}
						.color3 {
							background: #B1A8FF;
						}
					}
	
						&__title-top {
							width: 100%;
							height: 150px;
							box-shadow: 0px 0px 10px #F4F6F8;
							border-radius: 30px 30px 0px 0px;
							font-family: 'Inter';
							font-style: normal;
							font-weight: 400;
							font-size: 32px;
							line-height: 39px;
							display: flex;
							justify-content: center;
							align-items: center;
							text-align: center;
							color: #F4F6F8;
							@media (max-width: 1439px){
								height: 118px;
								font-size: 25.2287px;
								line-height: 31px;
							}
							@media (max-width: 1023px){
								height: 90px;
								font-size: 19.3311px;
								line-height: 23px;
							}
							@media (max-width: 767px){
								box-shadow: 0px 0px 3.83654px #F4F6F8;
								border-radius: 11.5096px 11.5096px 0px 0px;
								height: 57px;
								font-size: 12.2769px;
								line-height: 15px;
							}
							@media (max-width: 479px){
								height: 38px;
								font-size: 8px;
								line-height: 10px;
								box-shadow: 0px 0px 2.5577px #F4F6F8;
								border-radius: 7px 7px 0px 0px;
							}
						}
	
						&__text-top {
							width: 100%;
							height: 280px;
							border: 5px solid #F4F6F8;
							border-radius: 0px 0px 30px 30px;
							position: relative;
							font-family: 'Inter';
							font-style: normal;
							font-weight: 500;
							font-size: 24px;
							line-height: 29px;
							display: flex;
							justify-content: center;
							align-items: center;
							text-align: center;
							color: #FFFFFF;
							padding: 0 10px;
							@media (max-width: 1439px){
								height: 220px;
								font-size: 18.9215px;
								line-height: 23px;
								padding: 0 7.5px;
							}
							@media (max-width: 1023px){
								height: 169px;
								font-size: 14.4983px;
								line-height: 18px;
								padding: 0 5px;
							}
							@media (max-width: 767px){
								padding: 0 3.5px;
							}
							@media (max-width: 479px){
								padding: 0;
							}
							@media (max-width: 767px){
								height: 107px;
								font-size: 9.20771px;
								line-height: 11px;
								border: 1.91827px solid #F4F6F8;
								border-radius: 0px 0px 11.5096px 11.5096px;
							}
							@media (max-width: 479px){
								height: 71px;
								border: 1.27885px solid #F4F6F8;
								border-radius: 0px 0px 7.67309px 7.67309px;
								font-size: 6px;
								line-height: 7px;
							}
							&::before{
								content:'';
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								filter: drop-shadow(0px 0px 10px #F4F6F8);
							}
						}
	
		&__items-bottom {
			margin-top: 80px;
			position: relative;
			@media (max-width: 1439px){
				margin-top: 63px;
			}
			@media (max-width: 1023px){
				margin-top: 48px;
			}
			@media (max-width: 767px){
				margin-top: 30px;
			}
			@media (max-width: 479px){
				margin-top: 21px;
			}
			&::before{
				content:'';
				position: absolute;
				top: -40px;
				left: 97.5px;
				width: calc(100% - 195px);
				height: 5px;
				background-color: #ffffff;
				transform: translate(0, 50%);
				@media (max-width: 1439px){
					top: -37.5px;
					left: 78.5px;
					width: calc(100% - 154px);
				}
				@media (max-width: 1023px){
					height: 5px;
					top: -24px;
					left: 58.5px;
					width: calc(100% - 116.5px);
				}
				@media (max-width: 767px){
					height: 2px;
					top: -15px;
					left: 37px;
					width: calc(100% - 75px);
				}
				@media (max-width: 479px){
					top: -15px;
					left: 24px;
					width: calc(100% - 49px);
				}
			}
		}
	
			&__row-bottom {
				display: flex;
				justify-content: space-between;
			}
	
				&__item-bottom {
					width: 200px;
					height: 200px;
					background: #4D84EE;
					border: 5px solid #F4F6F8;
					box-shadow: 0px 0px 10px rgba(244, 246, 248, 0.25);
					border-radius: 25px;
					position: relative;
					@media (max-width: 1439px){
						width: 157px;
						height: 157px;
					}
					@media (max-width: 1023px){
						width: 120px;
						height: 120px;
					}
					@media (max-width: 767px){
						width: 76px;
						height: 76px;
						border: 1.91827px solid #F4F6F8;
						box-shadow: 0px 0px 3.83654px rgba(244, 246, 248, 0.25);
						border-radius: 9.59136px;
					}
					@media (max-width: 479px){
						width: 51px;
						height: 51px;
						border: 1.27885px solid #F4F6F8;
						box-shadow: 0px 0px 2.5577px rgba(244, 246, 248, 0.25);
						border-radius: 6px;
					}
					&::before{
						content:'';
						position: absolute;
						top: -40px;
						left: 50%;
						width: 5px;
						height: 40px;
						background-color: #ffffff;
						transform: translate(-50%, 0);
						@media (max-width: 1023px){
							top: -25.8px;
							height: 26px;
						}
						@media (max-width: 767px){
							width: 2px;
							top: -15.8px;
							height: 15px;
						}
						@media (max-width: 479px){
							width: 1.5px;
							top: -14.8px;
							height: 14px;
						}
					}
				}
	
					&__text-bottom {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 22px;
						display: flex;
						align-items: center;
						text-align: center;
						color: #F4F6F8;
						@media (max-width: 1439px){
							font-size: 14.1911px;
							line-height: 17px;
						}
						@media (max-width: 1023px){
							font-size: 10.8737px;
							line-height: 13px;
						}
						@media (max-width: 767px){
							font-size: 6.90578px;
							line-height: 8px;
						}
						@media (max-width: 479px){
							font-size: 5px;
							line-height: 6px;
						}
					}
}


/* work-crowdfunding-page */
.work-crowdfunding-page {
	margin-top: 60px;
	@media (max-width: 767px){
		margin-top: 36px;
	}
	@media (max-width: 479px){
		margin-top: 24px;
	}
	&__container {}
	
		&__body {
			&--left {
				h2 {
					width: 358px;
					max-width: 100%;
					margin-top: 75px;
					@media (max-width: 1023px){
						margin-top: 0;
						text-align: center;
					}
					@media (max-width: 767px){
						width: 450px;
					}
					@media (max-width: 479px){
						width: 300px;
					}
				}
				p {
					width: 375px;
					margin-top: 32px;
				}
			}
			&--text-desktop {
				@media (max-width: 1023px){
					display: none;
				}
			}
			&--text-mobile {		
				display: none;
				@media (max-width: 1023px){
					display: block;
					margin-top: 63px;
					align-self: flex-start;
				}
				@media (max-width: 479px){
					margin-top: 27px;
				}
			}
		}
	
			&__img {
				margin-top: 64px;
				margin-right: 229px;
				position: relative;
				
					&::before {
						content: '';
						position: absolute;
						z-index: -1;
						top: -70px;
						left: -63px;
						width: 410px;
						height: 341px;
						background: url('../img/pages/crowdfunding-page/back2.svg') 0 0 / 100% 100% no-repeat;
				
						@media (max-width: 1439px) {
							width: 388px;
							height: 305px;
							top: -47px;
							left: -58px;
						}
				
						@media (max-width: 1023px) {
							width: 407px;
							height: 337px;
							top: -78px;
							left: -70px;
						}
				
						@media (max-width: 767px) {
							width: 358px;
							height: 371px;
							top: -92px;
							left: -40px;
						}
				
						@media (max-width: 479px) {
							width: 240px;
							height: 194px;
							top: -32px;
							left: -27px;
						}
					}
				@media (max-width: 1439px){
					margin-right: 159px;
				}
				@media (max-width: 1023px){
					margin-top: 88px;
					margin-right: 0;
				}
				@media (max-width: 479px){
					width: 158px;
					height: 153px;
					margin-top: 59px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
	
		&__items {
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1439px){
				margin-top: 43px;
			}
			@media (max-width: 1023px){
				width: 597px;
				justify-content: center;
				margin: 0 auto;
				margin-top: 24px;
				flex-wrap: wrap;
				row-gap: 31px;
			}
			@media (max-width: 767px){
				width: 270px;
				row-gap: 14px;
			}
			@media (max-width: 479px){
				width: 180px;
				margin-top: 10px;
				margin-bottom: 24px;
				row-gap: 10px;
			}
		}
	
			&__item {
				flex: 0 1 33.333%;
				display: flex;
				justify-content: center;
				@media (max-width: 1023px){
					flex: 0 1 50%;
				}
				@media (max-width: 767px){
					flex: 1 1 100%;
				}
			}
	
				&__column {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 270px;
				}
	
					&__icon {
						width: 100px;
						height: 100px;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 600;
						font-size: 64px;
						line-height: 77px;
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						border-radius: 50%;
						color: #FFFFFF;
						background: linear-gradient(180deg, #EB00FF 0%, #00DBC8 100%);
						box-shadow: 0px 0px 40px #6F72E2;
						@media (max-width: 479px){
							width: 67px;
							height: 67px;
							font-size: 43px;
							line-height: 52px;
						}
					}
	
					&__text {
						margin-top: 15px;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						line-height: 24px;
						display: flex;
						align-items: center;
						text-align: center;
						color: #F4F6F8;
						@media (max-width: 767px){
							font-size: 14px;
							line-height: 17px;
						}
						@media (max-width: 479px){
							font-size: 10px;
							line-height: 12px;
						}
					}
		p {
			text-align: left;
			margin-top: 48px;
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
			}
			@media (max-width: 479px){
				margin-top: 14px;
			}
		}
}


/* scoring-crowdfunding-page */
.scoring-crowdfunding-page {
	margin-top: 44px;
	@media (max-width: 1439px){
		margin-top: 60px;
	}
	@media (max-width: 1023px){
		margin-top: 0;
	}
	&__container {
		>p {
			text-align: left;
			margin-top: 48px;
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
			}
			@media (max-width: 479px){
				margin-top: 14px;
			}
		}
	}
	
		&__body {
			&--right {
				text-align: right;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				@media (max-width: 1023px){
					order: 1;
					align-items: flex-start;
					align-self: flex-start;
					text-align: center;
				}
				@media (max-width: 767px){
					margin: 0 auto;
				}
				h2 {
					width: 570px;
					margin-top: 16px;
					@media (max-width: 1439px){
						width: 346px;
						margin-top: 60px;
					}
					@media (max-width: 1023px){
						width: 708px;
					}
					@media (max-width: 767px){
						margin-top: 36px;
						width: 450px;
					}
					@media (max-width: 479px){
						margin-top: 24px;
						width: 300px;
					}
				}
				p {
					width: 670px;
					margin-top: 32px;
					@media (max-width: 1439px){
						width: 465px;
					}
				}
			}
			
				&--text-desktop {
					@media (max-width: 1023px){
						display: none;
					}
				}
			
				&--text-mobile {
					display: none;
					@media (max-width: 1023px){
						display: block;
						margin-top: 66px;
						order: 3;
						text-align: left;
					}
					@media (max-width: 767px){
						margin-top: 72px;
					}
					@media (max-width: 479px){
						margin-top: 43px;
					}
				}
		}
	
			&__img {
				margin-top: 98px;
				margin-left: 105px;
				position: relative;
				
					&::before {
						content: '';
						position: absolute;
						z-index: -1;
						top: -70px;
						left: -63px;
						width: 439px;
						height: 415px;
						background: url('../img/pages/crowdfunding-page/back3.svg') 0 0 / 100% 100% no-repeat;
				
						@media (max-width: 1439px) {
							width: 423px;
							height: 366px;
							top: -47px;
							left: -58px;
						}
				
						@media (max-width: 1023px) {
							width: 393px;
							height: 428px;
							top: -78px;
							left: -36px;
						}
				
						@media (max-width: 767px) {
							width: 390px;
							height: 476px;
							top: -92px;
							left: -40px;
						}
				
						@media (max-width: 479px) {
							width: 255px;
							height: 257px;
							top: -32px;
							left: -27px;
						}
					}
				@media (max-width: 1439px){
					margin-top: 151px;
					margin-left: 53px;
				}
				@media (max-width: 1023px) {
					order: 2;
					margin-top: 50px;
					margin-left: 0;
				}
				@media (max-width: 767px){
					margin-top: 39px;
				}
				@media (max-width: 479px){
					margin-top: 26px;
					width: 197px;
					height: 173px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
}


/* diagram-crowdfunding-page */
.diagram-crowdfunding-page {
	margin-top: 60px;
	@media (max-width: 767px){
		margin-top: 36px;
	}
	@media (max-width: 479px){
		  margin-top: 24px;
	}
	&__container {
		h2 {
			justify-content: center;
			text-align: center;
			font-size: 36px;
				line-height: 44px;
			@media (max-width: 767px){
				font-size: 26px;
					line-height: 31px;
			}
			@media (max-width: 479px){
				font-size: 17px;
					line-height: 21px;
			}
		}
		>span {
			text-align: center;
			margin-top: 14px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #B9B9B9;
			@media (max-width: 767px){
				margin-top: 4px;
				font-size: 10px;
				line-height: 12px;
			}
			@media (max-width: 479px){
				margin-top: 3px;
				font-size: 7px;
					line-height: 8px;
			}
		}
	}
	&__item {
		position: absolute;
		width: 185px;
		height: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 5px solid #FFFFFF;
		border-radius: 10px;
		@media (max-width: 1439px){
			width: 160px;
			height: 52px;
			border: 4.3218px solid #FFFFFF;
			border-radius: 8.64359px;
		}
		@media (max-width: 1023px){
			width: 122px;
			height: 40px;
			border: 3.31151px solid #FFFFFF;
				border-radius: 6.62301px;
		}
		@media (max-width: 767px){
			width: 78px;
			height: 25px;
			border: 2.10477px solid #FFFFFF;
				border-radius: 4.20954px;
		}
		@media (max-width: 479px){
			width: 52px;
			height: 17px;
			border: 1px solid #FFFFFF;
				border-radius: 3px;
		}
		span {
			font-family: 'Inter';
			font-style: normal;
			color: #FFFFFF;
			&:first-child{
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				@media (max-width: 1439px){
					font-size: 17.2872px;
						line-height: 21px;
				}
				@media (max-width: 1023px){
					font-size: 13.246px;
						line-height: 16px;
				}
				@media (max-width: 767px){
					font-size: 8.41908px;
						line-height: 10px;
				}
				@media (max-width: 479px){
					font-size: 6px;
					line-height: 7px;
				}
			}
			&:last-child{
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				@media (max-width: 1439px){
					font-size: 13.8297px;
						line-height: 17px;
				}
				@media (max-width: 1023px){
					font-size: 10.5968px;
						line-height: 13px;
				}
				@media (max-width: 767px){
					font-size: 6.73527px;
						line-height: 8px;
				}
				@media (max-width: 479px){
					font-size: 4px;
					line-height: 5px;
				}
			}
		}
	}
		&__body {
			margin-top: 76px;
			display: flex;
			justify-content: center;
			@media (max-width: 1439px){
				margin-top: 60px;
			}
			@media (max-width: 1023px){
				margin-top: 37px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
			}
			@media (max-width: 479px){
				  margin-top: 16px;
			}
		}
	
		&__circle {
			position: relative;
			width: 700px;
			height: 600px;
			@media (max-width: 1439px){
				width: 604px;
				height: 519px;
			}
			@media (max-width: 1023px){
				width: 464px;
				height: 397px;
			}
			@media (max-width: 767px){
				width: 294px;
				height: 253px;
			}
			@media (max-width: 479px){
				width: 196px;
				height: 168px;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	

				&__items {}

				&__item1 {
					top: 1.5%;
					left: 2%;
					transform: translate(-100%, 0);
				}

				&__item2 {
					top: 16%;
					left: 2%;
					transform: translate(-100%, 0);
				}

				&__item3 {
					top: 35%;
					left: 2%;
					transform: translate(-100%, 0);
				}

				&__item4 {
					top: 88.5%;
					left: 2%;
					transform: translate(-100%, 0);
				}


				&__item5 {
					top: 17.5%;
					right: 1.5%;
					transform: translate(100%, 0);
				}
}


/* risk-crowdfunding-page */
.risk-crowdfunding-page {
	margin-top: 48px;
	margin-bottom: 80px;
	@media (max-width: 1439px){
		margin-top: 60px;
	}
	@media (max-width: 767px){
		margin-top: 36px;
		margin-bottom: 40px;
	}
	@media (max-width: 479px){
		margin-top: 24px;
	}
	&__container {
		>p {
			text-align: left;
			margin-top: 48px;
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
			}
			@media (max-width: 479px){
				margin-top: 14px;
			}
		}
	}
	
		&__body {
			margin-bottom: 127px;
			@media (max-width: 1023px){
				margin-bottom: 0;
			}
			&--left {
				@media (max-width: 1023px){
					order: 1;
				}
				h2 {
					margin-top: 124px;
					@media (max-width: 1439px){
						margin-top: 94px;
					}
					@media (max-width: 1023px){
						margin-top: 0;
					}
				}
				p {
					margin-top: 32px;
					width: 600px;
				}
			}
			
				&--text-desktop {
					@media (max-width: 1023px){
						display: none;
					}
				}
			
				&--text-mobile {
					display: none;
					@media (max-width: 1023px){
						display: block;
						order: 3;
						margin-top: 79px;
						text-align: left;
					}
					@media (max-width: 767px){
						margin-top: 65px;
					}
					@media (max-width: 479px){
						margin-top: 38px;
					}
				}
		}
	
		&__img {
			margin-top: 80px;
			margin-right: 198px;
			position: relative;
			
				&::before {
					content: '';
					position: absolute;
					z-index: -1;
					top: -70px;
					left: -63px;
					width: 439px;
					height: 378px;
					background: url('../img/pages/crowdfunding-page/back4.svg') 0 0 / 100% 100% no-repeat;
			
					@media (max-width: 1439px) {
						width: 423px;
						height: 366px;
						top: -47px;
						left: -58px;
					}
			
					@media (max-width: 1023px) {
						width: 393px;
						height: 428px;
						top: -78px;
						left: -36px;
					}
			
					@media (max-width: 767px) {
						width: 390px;
						height: 476px;
						top: -92px;
						left: -40px;
					}
			
					@media (max-width: 479px) {
						width: 255px;
						height: 257px;
						top: -32px;
						left: -27px;
					}
				}
			@media (max-width: 1439px){
				margin-right: 79px;
			}
			@media (max-width: 1023px){
				order: 2;
				margin-top: 96px;
				margin-right: 0;
			}
			@media (max-width: 767px){
				margin-top: 119px;
			}
			@media (max-width: 479px){
				margin-top: 76px;
				width: 186px;
				height: 161px;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
}