.docs {
	overflow: hidden;
	&__container {}
	
		&__title {}
	
		&__items {
			margin-top: 50px;
			margin-bottom: 80px;
			@media (max-width: 1439px){
				margin-bottom: 100px;
			}
			@media (max-width: 767px){
				margin-top: 30px;
				margin-bottom: 40px;
			}
		}
	
			&__row {
				display: grid;
				grid-template: repeat(4, 181px) / repeat(3,1fr);
				justify-content: space-between;
				flex-wrap: wrap;
				row-gap: 30px;
				margin: 0 -15px;
				@media (max-width: 1439px){
					grid-template: repeat(6, 181px) / repeat(2, 1fr);
				}
				@media (max-width: 1023px){
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					row-gap: 40px;
				}
				@media (max-width: 767px){
					row-gap: 26px;
				}
				@media (max-width: 479px){
					row-gap: 18px;
				}
			}

				&__item {
					flex: 0 1 33.333%;
					padding: 0 15px;
					@media (max-width: 1023px){
						flex: 1 1 100%;
					}
					@media (max-width: 767px){
						display: flex;
						justify-content: center;
					}
				}
				&__item {
					&:hover{
						.docs__column {
							height: 188px;
							padding: 31px 36px 29px;
							@media (max-width: 1439px){
								padding: 31px 43px 29px;
							}
							@media (max-width: 1023px){
								height: 188px;
								padding: 25px 69px 34px;
							}
							@media (max-width: 767px){
								padding: 25px 36px 34px;
							}
							@media (max-width: 479px){
								height: 125px;
								padding: 16px 24px 22px;
								br {
									display: block;
								}
							}
						}
						.docs__btns {
							transition: all 0.5s ease 0s;
							opacity: 1;
							height: 23px;
							@media (max-width: 479px){
								height: 15px;
							}
						}
					}
				}

					&__column {
						transition: all 0.3s ease 0s;
						max-width: 370px;
						height: 151px;
						background: linear-gradient(90deg, #0F3F4E 23.36%, #40175E 73.29%);
						box-shadow: 0px 0px 10px rgba(244, 246, 248, 0.25);
						border-radius: 30px;
						padding: 25px 36px 34px;
						br {
							display: none;
						}
						@media (max-width: 1439px){
							max-width: 477px;
							padding: 25px 43px 34px;
						}
						@media (max-width: 1023px){
							max-width: 100%;
							padding: 25px 69px 34px;
						}
						@media (max-width: 767px){
							width: 371px;
							padding: 25px 36px 34px;
						}
						@media (max-width: 479px){
							width: 246px;
							max-width: 100%;
							height: 100px;
							padding: 16px 24px 22px;
						}
					}

						&__subtitle {
							height: 66px;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 700;
							font-size: 16.3192px;
							line-height: 22px;
							color: #F4F6F8;
							@media (max-width: 1023px){
								
							}
							@media (max-width: 767px){
								font-size: 14px;
								line-height: 22px;
							}
							@media (max-width: 479px){
								height: 43px;
								font-size: 10px;
								line-height: 15px;
							}
						}

						&__span {
							margin-top: 9px;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 400;
							font-size: 12.2394px;
							line-height: 16px;
							color: #DADADA;
							@media (max-width: 479px){
								font-size: 9px;
								line-height: 11px;
							}
						}

						&__btns {
							transition: all 0.7s ease 0s;
							height: 0;
							overflow: hidden;
							margin-top: 12.5px;
							opacity: 0;
							@media (max-width: 1439px){
								margin-top: 24.5px;
							}
							@media (max-width: 479px){
								display: flex;
								justify-content: space-between;
								margin-top: 9px;
							}
						}

							&__btn {
								display: inline-flex;
								justify-content: center;
								align-items: center;
								width: 107px;
								height: 23px;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 600;
								font-size: 9.5195px;
								line-height: 13px;
								text-align: center;
								@media (max-width: 1439px){
									width: 129px;
								}
								@media (max-width: 479px){
									width: 86px;
									height: 15px;
									font-size: 6.34634px;
									line-height: 9px;
								}
							}

							&__btn-open {
								background: #F4F6F8;
								border-radius: 16.3192px;
								color: #0F3F4E;
								margin-right: 14px;
								@media (max-width: 1439px){
									margin-right: 17px;
								}
							}

							&__btn-download {
								border: 0.679965px solid #F4F6F8;
								border-radius: 16.3192px;
								color: #F4F6F8;
							}
}
