h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	color: #F4F6F8;
	margin: 0;
	@media (max-width: 767px){
		display: flex;
		justify-content: center;
		font-size: 36px!important;
		line-height: 44px!important;
	}
	@media (max-width: 479px){
		font-size: 24px!important;
		line-height: 29px!important;
	}
}

h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	@media (max-width: 767px){
		display: flex;
		justify-content: center;
		font-size: 30px;
		line-height: 36px;
	}
	@media (max-width: 479px){
		font-size: 20px;
		line-height: 24px;
	}
}

h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;

	@media (max-width: 767px) {
		font-size: 24px;
		line-height: 29px;
	}

	@media (max-width: 479px) {
		font-size: 16.0018px;
		line-height: 19px;
	}
}

h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	@media (max-width: 767px){
		font-size: 18px;
		line-height: 22px;
	}
	@media (max-width: 479px){
		font-size: 12px;
		line-height: 15px;
	}
}

p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	@media (max-width: 767px){
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 14px;
		line-height: 17px;
	}
	@media (max-width: 479px){
		font-size: 10px;
		line-height: 12px;
	}
}