/* hero-wallet */
.hero-wallet {
	&__container {}
		&__text-desktop {
			@media (max-width: 1023px){
				display: none;
			}
		}
		&__text-mobile {
			display: none;
			@media (max-width: 1023px){
				display: block;
				margin-top: 140px;
			}
			@media (max-width: 767px){
				width: 100%;
				max-width: 100%;
				text-align: left;
			}
			@media (max-width: 479px){
				margin-top: 107px;
			}
		}
		&__body {
			h1 {
				margin-top: 83px;
				width: 580px;
				@media (max-width: 1439px){
					
				}
				@media (max-width: 1023px){
					margin-top: 0;
					text-align: center;
				}
				@media (max-width: 767px){
					width: 440px;
				}
				@media (max-width: 479px){
					width: 293px;
				}
			}
			p {
				margin-top: 32px;
				width: 720px;
				@media (max-width: 1439px){
					width: 550px;
				}
			}
		}
		
		&__img {
			margin-top: 158px;
			margin-right: 94px;
			@media (max-width: 1439px){
				margin-right: 15px;
			}
			@media (max-width: 1023px){
				margin-right: 0;
			}
			@media (max-width: 479px){
				margin-top: 102px;
				width: 171px;
				height: 112px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			img {
				
			}
		}
}


/* wallet-whatis */
.wallet-whatis {
	margin-top: 60px;
	@media (max-width: 1023px){
		margin-top: 48px;
	}
	@media (max-width: 767px){
		margin-top: 36px;
	}
	@media (max-width: 479px){
		margin-top: 24px;
	}
	&__container {
		h2 {
			text-align: center;
			@media (max-width: 767px){
				margin: 0 auto;
				width: 400px;
				max-width: 100%;
			}
			@media (max-width: 479px){
				width: 270px;
			}
		}
		>p {
			margin-top: 107px;
			display: flex;
			justify-content: center;
			text-align: center;
			@media (max-width: 1439px){
				margin-top: 85px;
			}
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
				br {
					display: none;
				}
			}
			@media (max-width: 479px){
				margin-top: 14px;
			}
		}
	}
	
		&__body {
			
			p {
				margin-top: 80px;
				width: 570px;
				max-width: 100%;
				text-align: left;
				@media (max-width: 1439px){
					margin-top: 94px;
				}
				@media (max-width: 1023px){
					margin-top: 97px;
					width: 100%;
				}
				@media (max-width: 797px){
					margin-top: 89px;
				}
				@media (max-width: 479px){
					margin-top: 54px;
				}
			}
		}
			&__img {
				margin-top: 82px;
				margin-left: 100px;
				@media (max-width: 1439px){
					margin-top: 74px;
					margin-left: 0px;
				}
				@media (max-width: 1023px){
					margin-top: 86px;
				}
				@media (max-width: 767px){
					margin-top: 78px;
				}
				@media (max-width: 479px){
					width: 190px;
					height: 167px;
					margin-top: 46px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
	
		&__items {
			margin-top: 28px;
			@media (max-width: 1023px){
				margin-top: 48px;
			}
			@media (max-width: 767px){
				margin-top: 36px;
			}
			@media (max-width: 479px){
				margin-top: 16px;
			}
			p {
				margin-top: 48px;
				@media (max-width: 1023px){
					margin-top: 36px;
				}
				@media (max-width: 767px) {
					margin-top: 36px;
					text-align: left;
				}
				@media (max-width: 479px) {
					margin-top: 16px;
				}
			}
		}
			&__row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
						
				@media (max-width: 1439px) {
					margin: 28px -17px 0;
				}
				@media (max-width: 1023px){
					flex-direction: column;
					row-gap: 16px;
				}
				@media (max-width: 767px){
					margin: 28px -0px 0;
				}
				@media (max-width: 479px){
					row-gap: 10px;
				}
			}
	
			&__item {
				flex: 0 1 470px;
				display: flex;
				flex-direction: column;
				align-items: center;
				font-family: 'Inter';
				font-style: normal;
				@media (max-width: 1023px){
					flex: 0 1 296px;
				}
				@media (max-width: 479px){
					flex: 1 1 auto;
				}
			}
			&__item-big {
				margin-top: 40px;
				flex: 1 1 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 600;
				font-size: 55px;
				line-height: 67px;
				text-align: center;
				color: #FFFFFF;
				@media (max-width: 767px){
					margin-top: 32px;
				}
				@media (max-width: 479px){
					margin-top: 16px;
				}
				.wallet-whatis__text {
					width: 850px;
					@media (max-width: 1023px){
						width: 100%;
					}
					@media (max-width: 767px){
						width: 420px;
						margin-top: 19px;
					}
					@media (max-width: 479px){
						width: 280px;
					}
				}
			}

				&__icon {
					width: 100px;
					height: 100px;
					font-weight: 600;
					font-size: 64px;
					line-height: 77px;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					background: linear-gradient(180deg, #EB00FF 0%, #F9CE35 100%);
					box-shadow: 0px 0px 40px #F1659A;
					color: #FFFFFF;
					border-radius: 50%;
					@media (max-width: 479px){
						width: 66px;
						height: 66px;
						font-size: 42px;
						line-height: 51px;
					}
				}
				&__icon-big {
					width: 84px;
					height: 84px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #EEB909;
					box-shadow: 0px 0px 40px #EEB909;
					border-radius: 50%;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 55px;
					line-height: 67px;
					color: #FFFFFF;
					@media (max-width: 479px){
						width: 56px;
						height: 56px;
						font-size: 36px;
						line-height: 44px;
					}
				}
	
				&__title {
					font-weight: 600;
					font-size: 24px;
					line-height: 29px;
					text-align: center;
					margin-top: 21px;
					color: #F4F6F8;
					@media (max-width: 767px){
						width: 284px;
						font-size: 24px;
						line-height: 29px;
					}
					@media (max-width: 479px){
						width: 189px;
						margin-top: 15px;
						font-size: 16px;
						line-height: 19px;
					}
				}
	
				&__text {
					font-weight: 500;
					font-size: 20px;
					line-height: 24px;
					text-align: center;
					margin-top: 21px;
					color: #F4F6F8;
					@media (max-width: 1023px){
						width: 470px;
					}
					@media (max-width: 767px){
						width: 420px;
						margin-top: 44px;
						font-size: 14px;
						line-height: 17px;
						max-width: 100%;
					}
					@media (max-width: 479px){
						width: 280px;
						margin-top: 15px;
						font-size: 10px;
						line-height: 12px;
					}
				}
		
	
		&__type {}
}
.type-wallet-whatis {
	margin-top: 48px;
	@media (max-width: 479px){
		margin-top: 16px;
	}
	>h3 {
		margin-top: 48px;
		color: #00DBC8;
		@media (max-width: 479px){
			margin-top: 14px;
		}
	}
	>p {
		margin-top: 24px;
		text-align: left!important;
		@media (max-width: 479px){
			margin-top: 10px;
		}
		@media (max-width: 767px){
			&:first-child{
				width: 420px;
				max-width: 100%;
			}
		}
		&:last-child{
			margin-top: 48px;
			@media (max-width: 1023px){
				margin-top: 36px;
			}
			@media (max-width: 479px){
				margin-top: 13px;
			}
		}
	}
	&__fact {
		margin-top: 48px;
		background: #121D33;
		border-radius: 30px;
		border: 4px solid #F4F6F8;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 34px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		@media (max-width: 1023px){
			padding: 22px 30px;
		}
		@media (max-width: 767px){
			padding: 22px 15px 48px;
		}
		@media (max-width: 479px){
			border: 2.66667px solid #F4F6F8;
			border-radius: 20px;
			height: 123px;
			padding: 0;
			justify-content: center;
		}
		&--title {
			text-align: center;
			font-size: 36px;
			line-height: 44px;
			color: #FFFFFF;
			@media (max-width: 767px){
				font-size: 20px;
				line-height: 24px;
			}
			@media (max-width: 479px){
				font-size: 14px;
				line-height: 17px;
			}
		}
		
		&--text {
			text-align: center;
			font-size: 18px;
			line-height: 22px;
			color: #B9B9B9;
			@media (max-width: 1023px){
				margin-top: 5px;
			}
			@media (max-width: 767px){
				margin-top: 25px;
				font-size: 14px;
				line-height: 17px;
			}
			@media (max-width: 479px){
				width: 280px;
				margin-top: 14px;
				font-size: 10px;
				line-height: 12px;
			}
		}
	}
	
	&__items {
		margin-top: 48px;
		@media (max-width: 479px){
			margin-top: 16px;
		}
		>p {
			@media (max-width: 767px){
				width: 420px;
				max-width: 100%;
				text-align: left;
			}
		}
	}
		&__row {
			margin-top: 35px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 479px){
				margin-top: 16px;
			}
			@media (max-width: 1439px){
				flex-direction: column;
				align-items: center;
			}
			@media (max-width: 767px){
				margin-top: 38px;
			}
		}
			&__item {
				width: 500px;
				height: 214px;
				border-radius: 30px;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 24px 15px;
				@media (max-width: 1439px){
					  
				}
				@media (max-width: 767px){
					width: 100%;
					height: 150px;
					padding: 0px 15px;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				@media (max-width: 479px){padding: 0 10px;
					height: 100px;
				}
				&:first-child{
					background: linear-gradient(180deg, #35AEE2 -4.67%, #2AC6B8 82.8%);
					box-shadow: 0px 0px 10px #F4F6F8;
				}
				&:last-child{
					background: linear-gradient(180deg, #F9CE35 0%, #FF8A00 100%);
					box-shadow: 0px 0px 10px #F4F6F8;
					@media (max-width: 1439px){
						margin-top: 36px;
					}
					@media (max-width: 479px){
						margin-top: 16px;
					}
				}
				&--title {
					font-size: 24px;
					line-height: 29px;
					display: flex;
					align-items: center;
					text-align: center;
					color: #F4F6F8;
					@media (max-width: 767px){
						font-size: 20px;
						line-height: 24px;
					}
					@media (max-width: 479px){
						font-size: 14px;
						line-height: 17px;
					}
				}
				
				&--text {
					margin-top: 17px;
					font-size: 20px;
					line-height: 24px;
					display: flex;
					align-items: center;
					text-align: center;
					color: #F4F6F8;
					@media (max-width: 767px){
						margin-top: 15px;
						font-size: 14px;
						line-height: 17px;
					}
					@media (max-width: 479px){
						font-size: 10px;
						line-height: 12px;
					}
				}
			}
}


/* wallet-function */
.wallet-function {
	margin-top: 53px;
	@media (max-width: 1439px){
		margin-top: 35px;
	}
	@media (max-width: 1023px){
		margin-top: 60px;
	}
	@media (max-width: 767px){
		margin-top: 51px;
	}
	@media (max-width: 479px){
		margin-top: 24px;
	}
	&__container {}
	
		&__body {
			&--left {
				width: 100%;
				h2 {
					width: 545px;
					margin-top: 59px;
				
					@media (max-width: 1023px) {
						margin: 0 auto;
						text-align: center;
					}
					@media (max-width: 1023px){
						margin-top: 0;
					}
					@media (max-width: 767px){
						width: 421px;
					}
					@media (max-width: 479px){
						width: 280px;
					}
				}
				
				p {
					width: 570px;
					margin-top: 32px;
				}
			}
			&--text-desktop {
				@media (max-width: 1023px){
					display: none;
				}
			}
			&--text-mobile {
				display: none;
				@media (max-width: 1023px){
					display: block;
					margin-top: 92px;
				}
				@media (max-width: 767px){
					margin-top: 56px;
					text-align: left;
				}
				@media (max-width: 479px){
					margin-top: 46px;
				}
			}
		}
	
			&__img {
				margin-top: 53px;
				margin-right: 102px;
				@media (max-width: 1439px){
					margin-right: 48px;
				}
				@media (max-width: 1023px){
					margin-right: 0;
				}
				@media (max-width: 767px){
					margin-top: 77px;
				}
				@media (max-width: 479px){
					width: 166px;
					height: 192px;
					margin-top: 49px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
	
		&__items {
			margin-top: 60px;
			@media (max-width: 1439px){
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
			@media (max-width: 767px){
				margin-top: 24px;
			}
			@media (max-width: 479px){
				margin-top: 14px;
			}
			>p {
				margin-top: 48px;
				text-align: left;
				@media (max-width: 1023px){
					margin-top: 32px;
				}
				@media (max-width: 767px){
					margin-top: 24px;
				}
				@media (max-width: 479px){
					margin-top: 14px;
					width: 98%;
				}
			}
		}
	
		&__row {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			column-gap: 180px;
			row-gap: 60px;
			@media (max-width: 1439px){
				width: 720px;
				max-width: 100%;
				column-gap: 0px;
				row-gap: 10px;
			}
			@media (max-width: 1023px){
				width: 663px;
			}
			@media (max-width: 767px){
				width: 273px;
			}
			@media (max-width: 479px){
				width: 180px;
			}
		}
	
		&__item {
			flex: 0 1 270px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 31px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			@media (max-width: 767px){
				flex: 1 1 100%;
			}
			@media (max-width: 479px){
				padding-top: 20px;
			}
			&--icon {
				width: 100px;
				height: 100px;
				background: #8B77D4;
				box-shadow: 0px 0px 40px #8B77D4;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				@media (max-width: 479px){
					width: 66px;
					height: 66px;
				}
				img {
					width: 60px;
					height: 60px;
					@media (max-width: 479px){
						width: 40px;
						height: 40px;
					}
				}
			}
			
			&--title {
				margin-top: 15px;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				color: #ffffff;
				text-align: center;
				@media (max-width: 479px){
					margin-top: 10px;
					font-size: 14px;
					line-height: 17px;
				}
			}
		
			&--text {
				margin-top: 20px;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #B9B9B9;
				text-align: center;
				@media (max-width: 479px){
					margin-top: 10px;
					font-size: 10px;
					line-height: 12px;
				}
			}
		}
}


/* wallet-work */
.wallet-work {
	margin-top: 65px;
	margin-bottom: 80px;
	@media (max-width: 1439px){
		margin-top: 30px;
	}
	@media (max-width: 1023px){
		margin-top: 60px;
	}
	@media (max-width: 767px){
		margin-top: 36px;
		margin-bottom: 40px;
	}
	@media (max-width: 479px){
		margin-top: 24px;
	}
	&__container {
		>p {
			text-align: left;
			margin-top: 48px;
			@media (max-width: 1023px){
				margin-top: 60px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
			}
			@media (max-width: 479px){
				margin-top: 14px;
			}
		}
	}
		&__text-desktop {
			text-align: right;
			@media (max-width: 1023px) {
				display: none;
			}
		}
	
		&__text-mobile {
			display: none;
	
			@media (max-width: 1023px) {
				display: block;
				order: 3;
				margin-top: 80px;
				text-align: left;
			}
			@media (max-width: 767px){
				margin-top: 72px;
			}
			@media (max-width: 479px){
				margin-top: 44px;
			}
		}
		&__body {
			&--left {
				@media (max-width: 1023px){
					order: 1;
				}
				h2 {
					display: flex;
					justify-content: flex-end;
					text-align: right;
					margin-top: 57px;
					@media (max-width: 1439px){
						margin-top: 65px;
					}
				}
				p {
					margin-top: 32px;
					width: 570px;
				}
			} 
			
			p {
				@media (max-width: 1023px){
				}
			}
		}
	
			&__img {
				margin-top: 48px;
				margin-left: 102px;
				@media (max-width: 1439px){
					margin-left: 58px;
				}
				@media (max-width: 1023px){
					margin-top: 80px;
					margin-left: 0;
					order: 2;
				}
				@media (max-width: 767px){
					margin-top: 72px;
				}
				@media (max-width: 479px){
					width: 128px;
					height: 182px;
					margin-top: 42px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
	
		&__items {
			margin-top: 100px;
			@media (max-width: 1439px){
				display: flex;
				justify-content: center;
			}
			@media (max-width: 1023px){
				margin-top: 60px;
			}
			@media (max-width: 767px){
				margin-top: 24px;
			}
			@media (max-width: 479px){
				margin-top: 14px;
			}
		}
	
			&__row {
				margin: 0 -15px;
				display: flex;
				justify-content: space-between;
				@media (max-width: 1439px){
					flex-wrap: wrap;
					width: 570px;
					row-gap: 20px;
					margin: 0;
				}
				@media (max-width: 767px){
					width: 270px;
				}
				@media (max-width: 479px){
					width: 180px;
					row-gap: 10px;
				}
			}
	
				&__item {
					padding: 0 15px;
					padding-top: 31px;
					@media (max-width: 1439px){
						padding: 31px 0 0 0;
					}
					@media (max-width: 479px){
						padding-top: 20px;
					}
				}
	
					&__column {
						width: 270px;
						display: flex;
						flex-direction: column;
						align-items: center;
						@media (max-width: 767px){
							width: 100%;
						}
					}
	
						&__icon {
							width: 100px;
							height: 100px;
							background: #E086AC;
							box-shadow: 0px 0px 40px #E086AC;
							font-family: 'Inter';
								font-style: normal;
								font-weight: 600;
								font-size: 64px;
								line-height: 77px;
								display: flex;
								justify-content: center;
								align-items: center;
								text-align: center;
								border-radius: 50%;
								color: #FFFFFF;
								@media (max-width: 479px){
									width: 66px;
									height: 66px;
									font-size: 42px;
									line-height: 51px;
								}
						}
	
						&__text {
							margin-top: 15px;
							font-family: 'Inter';
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 24px;
								display: flex;
								align-items: center;
								text-align: center;
							
								color: #F4F6F8;
								@media (max-width: 479px){
									font-size: 10px;
									line-height: 12px;
								}
						}
}

