/* login */
.login {
	&__form {
		
	}
	&__right--btn {
		margin-top: 32px;
	}
	.form__pasword {
		margin-top: 26px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		&--fogot {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #84FAB0;
			@media (max-width: 479px){
				font-size: 12px;
				line-height: 15px;
			}
		}
		label {
			display: flex;
			justify-content: space-between;
		}
		.form__input-email {
			flex: 1 1 100%;
		}
	}
}


/* singin */
.singin {
	&__right {
		padding-top: 77px;
		&--title {
		}
		&::before {
			border-radius: 30px 0 0 30px !important;
		}
		
		.form-side--btn {
			margin-top: 32px;
		}
	}
	&__form {
		border-radius: 0 30px 30px 0 !important;

		@media (max-width: 1023px) {
			border-radius: 30px !important;
		}
	}
	.form__tel--text {
		margin-top: 10px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		color: #F4F6F8;
		@media (max-width: 479px){
			margin-top: 0;
			font-size: 10px;
			line-height: 20px;
		}
	}
	.form__captcha {
		margin-top: 10px;
		@media (max-width: 479px){
			margin-top: 0;
		}
	}
}






/* popap */
.general-popap-wrapper {
	display: flex;
	justify-content: center;
}

.general-popap {
	width: 751px;
	max-width: 100%;
	background: #897DF6;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	border-radius: 24px;
	position: relative;
	@media (max-width: 767px){
		width: 319px;
		height: 394px;
		border-radius: 8px;
	}
	&__container {
		width: 520px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0 auto;
		@media (max-width: 767px){
			width: 185px;
		}
	}

	&__close {
		cursor: pointer;
		position: absolute;
		top: 24px;
		right: 24px;
		width: 25px;
		height: 25px;
		&::before,&::after{
			content:'';
			position: absolute;
			top: 50%;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
		}
		&::before{
			left: 0;
			transform: rotate(45deg);
		}
		&::after{
			right: 0;
			transform: rotate(-45deg);
		}
	}

	&__title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 56px;
		text-align: center;
		color: #F4F6F8;
		@media (max-width: 767px){
			margin-top: 64px;
			font-size: 30px;
			line-height: 36px;
		}
	}


	&__text {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #B9B9B9;
		@media (max-width: 767px){
			font-size: 12px;
			line-height: 15px;
		}
	}

	&__btn {
		width: 143px;
		height: 47px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: #F4F6F8;
		background: #08A652;
		border-radius: 24px;
	}
}


.singin__popap {
	height: 505px;
	&--container {
		width: 520px;

		@media (max-width: 767px) {
			width: 185px;
		}
	}

	&--title {
		margin-top: 64px;
		width: 520px;
		@media (max-width: 767px) {
			width: 261px;
			margin-top: 64px;
		}
	}

	&--icon {
		margin-top: 56px;

		@media (max-width: 767px) {
			margin-top: 15px;
		}
	}

	&--text {
		margin-top: 75px;

		@media (max-width: 767px) {
			width: 183px;
			margin-top: 15px;
		}
	}
}
.success-change__popap {
	height: 488px;
	&--container {
		width: 520px;

		@media (max-width: 767px) {
			width: 185px;
		}
	}

	&--icon {
		margin-top: 33px;
	}

	&--title {
		width: 492px;
		margin-top: 15px;
		@media (max-width: 767px) {
			width: 261px;
			margin-top: 19px;
		}
	}


	&--text {
		width: 309px;
		margin-top: 15px;
		@media (max-width: 767px) {
			width: 261px;
			margin-top: 17px;
		}
	}

	&--btn {
		margin-top: 41px;
	
		@media (max-width: 767px) {
			width: 209px;
			margin-top: 24px;
		}
	}
}
.success-recovery__popap {
	height: 488px;

	&--container {
		width: 401px;

		@media (max-width: 767px) {
			width: 185px;
		}
	}

	&--icon {
		margin-top: 33px;
	}

	&--title {
		width: 492px;
		margin-top: 15px;

		@media (max-width: 767px) {
			width: 261px;
			margin-top: 19px;
		}
	}


	&--text {
		width: 309px;
		margin-top: 15px;

		@media (max-width: 767px) {
			width: 261px;
			margin-top: 17px;
		}
	}

	&--btn {
		margin-top: 41px;

		@media (max-width: 767px) {
			width: 209px;
			margin-top: 24px;
		}
	}
}







.form-side {
	a {
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: 0.7;
		}
	}
}
.form {
	width: 483px;
	background: #897DF7;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	border-radius: 30px;
	padding: 32px 0;
	button {
		transition: all 0.8s ease 0s;
		&:hover{
			opacity: 0.7;
		}
	}

	@media (max-width: 767px) {
		width: 420px;
	}

	@media (max-width: 479px) {
		width: 280px;
	}

	label {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #F4F6F8;

		@media (max-width: 479px) {
			font-size: 12px;
			line-height: 16px;
		}
	}

	&__container {
		width: 363px;
		max-width: 100%;
		margin: 0 auto;

		.form__subtitle {
			margin: 0 -30px;
			margin-bottom: 19px;

			br {
				display: block;
			}

			@media (max-width: 1023px) {
				margin: 0 -20px 19px;
			}
		}

		@media (max-width: 479px) {
			width: 242px;
		}
	}

	&__title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 48px;
		line-height: 56px;
		text-align: center;
		color: #F4F6F8;

		@media (max-width: 767px) {
			font-size: 42px;
			line-height: 56px;
		}

		@media (max-width: 479px) {
			font-size: 30px;
			line-height: 36px;
		}
	}

	&__subtitle {
		margin-top: 24px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #F4F6F8;

		@media (max-width: 1023px) {
			font-size: 18px;
			line-height: 24px;
		}

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 24px;
		}

		@media (max-width: 479px) {
			font-size: 14px;
			line-height: 24px;

			br {
				display: none;
			}
		}

	}

	&__subtitle-tel {
		margin: 24px -10px 16px;
	}

	&__name {
		margin-top: 32px;

		@media (max-width: 479px) {
			margin-top: 21.33px;
		}
	}

	&__btns {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 30px;

		@media (max-width: 479px) {
			margin-top: 13.33px;
			column-gap: 20px;
		}
	}

	&__btn {
		cursor: pointer;
		white-space: nowrap;
		height: 48px;
		border: 2px solid #5B4ECB;
		border-radius: 24px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #5B4ECB;
		transition: all 0.3s ease 0s;
		padding: 0 24px;

		&:hover {
			opacity: 0.7;
		}

		@media (max-width: 479px) {
			width: 78.67px;
			height: 32px;
			font-size: 10.6667px;
			line-height: 13px;
			border-radius: 16px;
		}

		&-email {}

		&-tel {}
	}

	&__btn.active {
		background: #5B4ECB;
		border-radius: 24px;
		color: #F4F6F8;
	}

	&__input {
		.input {
			width: 100%;
			height: 48px;
			background: #FFFFFF;
			box-shadow: inset 0px 4px 5px #B5A2E2;
			border-radius: 30px;
			padding-left: 24px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: #121D33;

			@media (max-width: 479px) {
				height: 32px;
				padding-left: 16px;
				font-size: 12px;
				line-height: 16px;
			}
		}

		.input::placeholder {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: #B6BCB9;

			@media (max-width: 479px) {
				font-size: 12px;
				line-height: 16px;
			}
		}

		&-name {
			margin-top: 10px;

			@media (max-width: 479px) {
				margin-top: 6px;
			}
		}

		&-email {
			margin-top: 10px;

			@media (max-width: 479px) {
				margin-top: 5.34px;
			}
		}

		&-tel {
			position: relative;

			&::before {
				content: '+7';
				position: absolute;
				top: 50%;
				left: 10px;
				transform: translate(0, -50%);
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				color: #274360;

				@media (max-width: 479px) {
					font-size: 12px;
					line-height: 16px;
				}
			}

			img {
				position: absolute;
				top: 50%;
				right: 20px;
				width: 24px;
				height: 24px;
				transform: translate(0, -50%);
				@media (max-width: 767px){
					display: none;
				}
			}

			.input {
				padding-left: 35px;

				@media (max-width: 479px) {
					padding-left: 26px;
				}
			}

			&--text {
				margin-top: 10px;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 20px;
				color: #F4F6F8;

				@media (max-width: 479px) {
					margin-top: 0;
					font-size: 10px;
					line-height: 20px;
				}
			}
		}

		&-question {
			height: 98px;
			margin-top: 10px;
			background: #FFFFFF;
			box-shadow: inset 0px 4px 5px #B5A2E2;
			border-radius: 20px;
			padding: 12px 24px;

			@media (max-width: 479px) {
				height: 65px;
				padding: 8px 16px;
			}

			&-text {
				background-color: transparent;

				input {
					width: 100%;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 24px;
					color: #121D33;

					@media (max-width: 479px) {
						font-size: 12px;
						line-height: 16px;
					}
				}

				input::placeholder {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 24px;
					color: #B6BCB9;

					@media (max-width: 479px) {
						font-size: 12px;
						line-height: 16px;
					}
				}
			}

			&-file {
				margin-top: 30px;
				position: relative;
				background-color: transparent;

				@media (max-width: 479px) {
					margin-top: 20px;
				}

				input[type="file"] {
					position: relative;
					z-index: 2;
					width: 100%;
					opacity: 0;
					cursor: pointer;
				}

				.question-file {
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;

					img {
						@media (max-width: 479px) {
							width: 14.67px;
							height: 16.67px;
						}
					}

					span {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 24px;
						color: #B6BCB9;

						@media (max-width: 479px) {
							font-size: 12px;
							line-height: 16px;
						}
					}
				}
			}
		}
	}

	&__email {

		margin-top: 32px;

		@media (max-width: 479px) {
			margin-top: 21px;
		}
	}

	&__tel {
		margin-top: 32px;

		@media (max-width: 479px) {
			margin-top: 21px;
		}
	}

	&__body-tel {
		margin-top: 10px;
		display: flex;
		align-items: center;
		column-gap: 15px;

		@media (max-width: 479px) {
			column-gap: 10px;
		}
	}

	&__select-country-tel {
		cursor: pointer;
		width: 64px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
		background: #FFFFFF;
		box-shadow: inset 0px 4px 5px #B5A2E2;
		border-radius: 30px;

		@media (max-width: 479px) {
			height: 32px;
		}
	}

	&__input-wrapper-tel {}

	&__question {
		margin-top: 40px;

		@media (max-width: 479px) {
			margin: 26px 0px 0px 0px;
		}
	}

	&__captcha {
		margin-top: 40px;
		padding-right: 11px;
		width: 100%;
		height: 115px;
		background: #FFFFFF;
		border-radius: 8px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media (max-width: 479px) {
			margin-top: 21px;
			height: 76px;
		}

		&-icon {
			@media (max-width: 479px) {
				width: 56.67px;
				height: 56.67px;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&-bottom {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 10px;
			line-height: 20px;
			color: #062240;

			@media (max-width: 479px) {
				font-size: 6.66666px;
				line-height: 13px;
			}
		}
	}

	&__confirm-sms {
		&--title {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			margin-top: 24px;
			text-align: center;
			color: #F4F6F8;

			@media (max-width: 479px) {
				font-size: 14px;
				line-height: 24px;
			}
		}

		&--input {}

		&--text {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #B9B9B9;

			@media (max-width: 479px) {
				font-size: 12px;
				line-height: 24px;
			}
		}

		&--valid {
			margin-top: 16px;
		}

		&--send-new {}
	}

	&__button {
		width: 100%;
		height: 48px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		background: #08A652;
		border-radius: 24px;
		margin-top: 32px;

		@media (max-width: 479px) {
			margin-top: 21px;
		}
	}
}

.checkbox {
	position: absolute;
	top: 50%;
	left: 24px;
	transform: translate(0, -50%);

	@media (max-width: 479px) {
		left: 16px;
		display: flex;
		align-items: center;
	}

	&__input {
		display: none;
	}

	&__input:checked+.checkbox__label::after {
		opacity: 1;
	}

	&__label {
		font-size: 16px;
		display: inline-flex;
		align-items: center;
		position: relative;
		cursor: pointer;

		span {
			color: #274360;
			font-weight: 400;
		}
	}

	&__label::before {
		content: "";
		align-self: flex-start;
		flex: 0 0 24px;
		height: 24px;
		background: #897DF6;
		box-shadow: inset 0px 2px 5px #3A309A;
		border-radius: 4px;
		margin: 0px 10px 0px 0px;

		@media (max-width: 479px) {
			flex: 0 0 16px;
			height: 16px;
		}
	}

	&__label::after {
		transition: all 0.3s ease 0s;
		content: "";
		opacity: 0;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 0;
		left: 0;
		background: url('../img/pages/contacts/arrow-green.svg') 0 0 / 100% 100% no-repeat;
		border-radius: 4px;

		@media (max-width: 479px) {
			width: 16px;
			height: 16px;
		}
	}
}

.red-star {
	color: red;
}

.form-relative {
	position: relative;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
	width: 946px;
	max-width: 100%;
	margin: 0 auto;

	@media (max-width: 1023px) {
		width: 483px;
	}
}

.general-form-container {
	display: flex;
	width: 100%;
	backface-visibility: hidden;
	transition: all 0.3s ease 0s;

	@media (max-width: 1023px) {
		padding: 0 !important;
	}

	@media (max-width: 767px) {
		padding: 0 30px !important;
	}

	@media (max-width: 479px) {
		padding: 0 20px !important;
	}

	.form {
		padding-top: 90px;
		padding-bottom: 92px;
		flex: 0 1 50%;
		border-radius: 30px 0 0 30px;

		@media (max-width: 1023px) {
			border-radius: 30px;
			min-width: 100%;
		}

		@media (max-width: 479px) {
			padding: 9px 0;
			border-radius: 20px;
		}

		.checkbox-remember {
			margin-top: 24px;
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0, 0);
		}

		.checkbox__label {
			&::before {
				background: #F5F1FF;
				box-shadow: inset 0px 2px 5px #B5A2E2;
			}
		}

		.checkbox-remember__label {
			span {
				white-space: nowrap;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #F4F6F8;
			}
		}
	}

	.form-side {
		flex: 0 1 50%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 1023px) {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: blur(10px);
			background: rgba(0, 48, 91, 0.2);
			border: 1px solid #FFFFFF;
			border-radius: 0 30px 30px 0;
		}

		&--title {
			width: 343px;
			position: relative;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}

		&--btn {
			width: 291px;
			height: 48px;
			position: relative;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #FFFFFF;
			border: 1.5px solid #FFFFFF;
			border-radius: 24px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				backdrop-filter: blur(90px);
				border-radius: 24px;
			}

			span {
				position: relative;
			}
		}

		&__btns-submit-code {
			display: flex;

			.form-side__button-send-again {
				margin-top: 33px;
				width: 214px;
				height: 48px;
				color: #5B4ECB;
				border: 2px solid #5B4ECB;
				background-color: transparent;

				@media (max-width: 479px) {
					font-size: 12px;
					line-height: 15px;
				}
			}

			.form-side__button-send {
				margin-top: 33px;
				width: 135px;
				height: 47px;
				margin-left: 37px;

				@media (max-width: 479px) {
					margin-left: 10px;
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
	}
}

.form-back-side {
	.form-side {
		&::before {
			border-radius: 30px 0 0 30px;
		}
	}

	.form {
		border-radius: 0 30px 30px 0;
	}
}



.checkbox-radio {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #F4F6F8;
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	display: block;
	margin-top: 38px;
	padding-left: 36px;

	@media (max-width: 479px) {
		font-size: 12px;
		line-height: 16px;
	}

	a {
		color: #F9CE35;
	}
}

.checkbox-radio.active:before {
	background-color: #08A652;
}

.checkbox-radio.active:after {
	background-color: #08A652;
	left: 16px;
}

.checkbox-radio:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 16px;
	background: #D9CEF2;
	box-shadow: inset 0px 2px 2px #B5A2E2;
	border-radius: 8px;
	transition: all 0.3s ease 0s;
}

.checkbox-radio:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	background: #FFFFFF;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);

	transition: all 0.3s ease 0s;
}

.checkbox-radio input {
	display: none;
}




.pincode input[type="number"]::-webkit-outer-spin-button,
.pincode input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.pincode {
	width: 172px;
	margin: 0 auto;
	margin-top: 16px;
	display: flex;
	justify-content: space-between;

	.input-number {
		width: 28px;
		height: 36px;
		background: #F5F1FF;
		box-shadow: inset 0px 2px 5px #B5A2E2;
		border-radius: 4px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #274360;
		padding-left: 8px;
	}

	input[type="number"]:focus {
		box-shadow: inset 0px 2px 5px #08A652;
	}
}