extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.recover.form-relative
				.recover__back-side.container.general-form-container.form-back-side.active 
					.recover__left.form-side 
						a(href="#").recover__back--btn.form-side--btn
							span Вернуться назад
					form.recover__form.form(action="#" method="method")
						.form__title.recover__form--title Восстановление пароля
						.form__subtitle На ваш номер было выслано СМС 
							br
							|с кодом подтверждения
						.form__container
							.form__confirm-sms 
								.form__confirm-sms--title Код подтверждения из СМС
									span.red-star *
								.pincode
									input.input-number(type='number')
									input.input-number(type='number')
									input.input-number(type='number')
									input.input-number(type='number')
									input.input-number(type='number')
								.form__confirm-sms--input 
								#time.form__confirm-sms--valid.form__confirm-sms--text 
									|Код действителен 
									span#timer-mins
									|мин. 
									span#timer-secs
									|сек. 
								#time1.form__confirm-sms--send-new.form__confirm-sms--text 
									|Выслать новый через 
									span.send-new-seconds.timer__seconds1 59 
									|сек.
							.form-side__btns-submit-code
								button.form__button.form-side__button-send-again(type="submit") Отправить повторно
								button.form__button.form-side__button-send(type="submit") Отправить

		include ../../blocks/modules/footer/footer


block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
