extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.recover.form-relative
				.recover__container.container.general-form-container.form-front-side 
					form.recover__form.form(action="#" method="method")
						.form__title.recover__form--title Восстановление 
							br
							|пароля
						.form__subtitle Выберите, какую информацию использовать для восстановления пароля
						.form__container
							.form__btns
								.form__btn.form__btn-email
									|E-mail
								.form__btn.form__btn-tel.active 
									|Телефон
							.form__tel
								.form__subtitle Введите номер телефона. 
									br
									|Код смены пароля будет выслан по СМС.
								label Номер телефона
									span.red-star *
								.form__body-tel 
									.form__select-country-tel 
										img(src="img/pages/contacts/flag.svg", alt="alt")
										img(src="img/pages/contacts/arrows.svg", alt="alt")
									.form__input-wrapper-tel 
										.form__input.form__input-tel
											input(type="tel", placeholder="(_ _ _) _ _ _ - _ _ - _ _").input
							.form__captcha
								.checkbox
									input#formAgreement.checkbox__input._req(type='checkbox' name='agreement')
									label.checkbox__label(for='formAgreement')
										span
											|Я не робот
								.form__captcha-icon 
									img(src="img/pages/contacts/captcha.svg", alt="alt")
								.form__captcha-bottom Конфиденциальность — условия использования
							button.form__button.form__button-front(type="submit") Отправить
					.recover__right.form-side 
						a.recover__right--btn.form-side--btn(href="#") 
							span Вернуться назад

		include ../../blocks/modules/footer/footer


block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
