extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.success-recovery__popap--wrapper.general-popap-wrapper
				.success-recovery__popap.general-popap
					.success-recovery__popap--container.general-popap__container
						span.general-popap__close
						.success-recovery__popap--icon.general-popap__icon 
							img(src="img/pages/s.svg", alt="alt")
						.success-recovery__popap--title.general-popap__title Восстановление пароля
						.success-recovery__popap--text.general-popap__text Письмо с новым паролем отправлено на указанный номер телефона 
						button.success-recovery__popap--btn.general-popap__btn Войти

		include ../../blocks/modules/footer/footer


block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
