extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.singin__popap-wrapper.general-popap-wrapper
				.singin__popap.general-popap
					.singin__popap--container.general-popap__container
						span.general-popap__close
						.singin__popap--title.general-popap__title Регистрация прошла успешно
						.singin__popap--icon.general-popap__icon 
							img(src="img/pages/Checked.svg", alt="alt")
						.singin__popap--text.general-popap__text Через 
							span#time2 10 секунд вы перейдёте в личный кабинет

		include ../../blocks/modules/footer/footer


block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
