body {
    background: #121d33;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
		background: url('../img/svg/back-main.svg') center / cover no-repeat;
    @media (max-width: 1919px){
		background: url('../img/svg/back-main1.svg') center / cover no-repeat;
	 }
		@media (max-width: 1439px) {
			background: url('../img/svg/back-main2.svg') center / cover no-repeat;
		}
		@media (max-width: 1023px) {
			background: url('../img/svg/back-main3.svg') center / cover no-repeat;
		}
		 @media (max-width: 767px) {
		 	background: url('../img/svg/back-main4.svg') center / cover no-repeat;
		 }
			@media (max-width: 479px) {
				background: url('../img/svg/back-main5.svg') center / cover no-repeat;
			}
		.page {
        flex: 1 1 auto;
    }
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1439px) {
        padding: 0 50px;
    }

    @media (max-width: 992px) {
        padding: 0 30px;
    }

    @media (max-width: 767px) {
        padding: 0 15px;
    }

    @media (max-width: 440px) {
        padding: 0 10px;
    }
}

.general-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #f4f6f8;

    @media (max-width: 992px) {
        font-size: 30px;
        line-height: 36px;
    }

    @media (max-width: 479px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.general-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #b9b9b9;
    margin-top: 24px;
	@media (max-width: 1439px){
		font-size: 16px;
		line-height: 19px;
	}
    @media (max-width: 992px) {
		margin-top: 20px;
        font-size: 14px;
        line-height: 17px;
    }

    @media (max-width: 767px) {
        margin-top: 15px;
    }

    @media (max-width: 479px) {
        font-size: 9.33333px;
        line-height: 11px;
        margin-top: 10.33px;
    }
}

.general-link {
	display: inline-block;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    position: relative;
    padding-right: 30px;
    margin-top: 32px;

    @media (max-width: 767px) {
        margin-top: 15px;
    }

    @media (max-width: 479px) {
        margin-top: 11.33px;
    }

	 @media (max-width: 479px){
		padding-right: 18px;
	 }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 18px;
        height: 14px;
        transform: translate(0, -50%);
        background: url("../img/svg/develop/arrow.svg") 0 0 / 100% no-repeat;
		  @media (max-width: 479px){
			width: 13px;
			height: 9px;
		  }
    }
}
