body {
	background: #121d33;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	.page {
		flex: 1 1 auto;
	}
}
.container {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@media (max-width: 1024px) {
		padding: 0 50px;
	}

	@media (max-width: 992px) {
		padding: 0 30px;
	}

	@media (max-width: 700px) {
		padding: 0 15px;
	}

	@media (max-width: 440px) {
		padding: 0 10px;
	}
}

.general-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	display: flex;
	align-items: center;
	color: #F4F6F8;
	@media (max-width: 900px){
		font-size: 30px;
		line-height: 36px;
	}
	@media (max-width: 500px){
		font-size: 20px;
		line-height: 24px;
	}
}
.general-text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #B9B9B9;
	margin-top: 24px;
	@media (max-width: 900px){
		font-size: 14px;
		line-height: 17px;
	}
	@media (max-width: 700px){
		margin-top: 15px;
	}
	@media (max-width: 500px){
		font-size: 9.33333px;
		line-height: 11px;
		margin-top: 10.33px;
	}
}
.general-link {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	position: relative;
	padding-right: 30px;
	margin-top: 32px;
	@media (max-width: 700px){
		margin-top: 15px;
	}
	@media (max-width: 500px) {
		margin-top: 11.33px;
	}
	&::after{
		content:'';
		position: absolute;
		top: 50%;
		right: 0;
		width: 18px;
		height: 14px;
		transform: translate(0, -50%);
		background: url('../img/svg/develop/arrow.svg') 0 0 no-repeat;
	}
}