.buy {
	margin-top: 78px;
	@media (max-width: 1919px){
		margin-top: 68px;
	}
	@media (max-width: 1439px){
		margin-top: 119px;
	}
	@media (max-width: 992px){
		margin-top: 83px;
	}
	@media (max-width: 767px){
		margin-top: 48px;
	}
	@media (max-width: 479px){
		margin-top: 24px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		@media (max-width: 767px){
			flex-direction: column;
		}
		&::before{
			content:'';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: -14px;
			width: 650px;
			height: 660px;
			transform: translate(0, -50%);
			background: url('../img/svg/buy/back.svg') center / 100% 100% no-repeat;
			@media (max-width: 1439px){
				right: 25px;
				width: 480px;
				height: 568px;
				background: url('../img/svg/buy/back1.svg') center / 100% 100% no-repeat;
				transform: translate(0, -50%) rotate(5.26deg);
			}
			@media (max-width: 992px){
				width: 370px;
				height: 570px;
			}
			@media (max-width: 767px){
				width: 440px;
				height: 440px;
				top: calc(100% + 70px);
				right: 50%;
				transform: translate(50%, -100%) rotate(0deg);
				background: url('../img/svg/buy/back2.svg') center bottom / 100% 100% no-repeat;
			}
			@media (max-width: 479px){
					width: 300px;
						height: 310px;
				transform: translate(50%, -104%);
				background: url('../img/svg/buy/back3.svg') center bottom / 100% 100% no-repeat;
			}
		}
	}
	
		&__body {
			flex: 0 1 490px;
			@media (max-width: 767px){
				flex: 1 1 auto;
				text-align: center;
			}
		}
	
			&__title {
				br {
					display: none;
				}
				@media (max-width: 992px){
					width: 336px;
					br {
						display: block;
					}
				}
				@media (max-width: 479px){
					width: 217px;
					display: block!important;
				}
			}
	
			&__text {
				@media (max-width: 1439px) {
						font-size: 18px !important;
						line-height: 22px !important;
					}
				@media (max-width: 992px){
					font-size: 14px!important;
					line-height: 17px!important;
					width: 360px;
				}
				@media (max-width: 479px){
					width: 217px;
					font-size: 10px!important;
					line-height: 12px!important;
				}
			}
	
			&__link {
				margin-top: 38px!important;
				@media (max-width: 992px){
					margin-top: 31px !important;
				}
				@media (max-width: 479px){
					font-size: 10px !important;
					line-height: 12px !important;
					margin-top: 14px!important;
				}
			}
	
		&__img {
			width: 380px;
			height: 458px;
			margin-right: 125px;
			@media (max-width: 1439px){
				width: 310px;
				height: 374px;
				margin-right: 60px;
			}
			@media (max-width: 992px){
				width: 244px;
				height: 294px;
			}
			@media (max-width: 767px){
				margin-top: 47px;
				margin-right: 0;
			}
			@media (max-width: 479px){
				width: 162.67px;
					height: 196px;
					margin-top: 26px;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
}

