.bridges {
	margin-top: 155px;

	@media (max-width: 1439px) {
		margin-top: 152px;
	}

	@media (max-width: 992px) {
		margin-top: 96px;
	}

	@media (max-width: 767px) {
		margin-top: 48px;
	}
	@media (max-width: 479px){
		margin-top: 32px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		@media (max-width: 767px) {
			flex-direction: column;
		}

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			left: -62px;
			width: 800px;
			height: 610px;
			transform: translate(0, -56%);
			background: url('../img/svg/bridges/back.svg') center / 100% 100% no-repeat;
			@media (max-width: 1919px){
				left: -79px;
			}
			@media (max-width: 1439px) {
				left: -21px;
				width: 590px;
				height: 440px;
				background: url('../img/svg/bridges/back1.svg') center / 100% 100% no-repeat;
			}

			@media (max-width: 992px) {
				width: 435px;
				height: 570px;
				left: -15px;
			}

			@media (max-width: 767px) {
				width: 480px;
				height: 440px;
				top: calc(100%);
				left: 50%;
				transform: translate(-50%, -75%);
				background: url('../img/svg/bridges/back2.svg') center bottom / 100% 100% no-repeat;
			}
			@media (max-width: 479px){
				width: 320px;
				transform: translate(-50%, -67%);
			}
		}
	}

	&__body {
		flex: 0 1 490px;
		text-align: right;
		@media (max-width: 992px){
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			flex: 0 1 auto;
		}
		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1 1 auto;
			text-align: center;
			order: 1;
		}
	}

	&__title {
		@media (max-width: 992px) {
		}
	}

	&__text {
		@media (max-width: 1919px){
			margin-top: 34px!important;
		}
		@media (max-width: 1439px) {
			font-size: 18px !important;
			line-height: 22px !important;
		}

		@media (max-width: 992px) {
			max-width: 340px;
			font-size: 14px !important;
			line-height: 17px !important;
			margin-top: 20px!important;
		}

		@media (max-width: 479px){
			margin-top: 14px!important;
			max-width: 242px;
			font-size: 10px!important;
			line-height: 12px!important;
		}
	}

	&__link {
		margin-top: 38px !important;

		@media (max-width: 992px) {
			margin-top: 31px !important;
		}
		@media (max-width: 479px) {
			font-size: 10px!important;
			line-height: 12px!important;
			margin-top: 14px !important;
		}
	}

	&__img {
		width: 530px;
		height: 339px;
		margin-left: 76px;
		@media (max-width: 1919px){
			margin-left: 59px;
		}
		@media (max-width: 1439px) {
			width: 364px;
			height: 233px;
			margin-left: 40px;
		}

		@media (max-width: 992px) {
			width: 307px;
			height: 197px;
			flex: 0 0 307px;
			margin-left: 20px;
		}

		@media (max-width: 767px) {
			margin-top: 70px;
			margin-right: 0;
			order: 2;
			flex: 1 1 auto;
		}

		@media (max-width: 479px){
			width: 204.67px;
			height: 131.33px;
			margin-top: 49px;
		}

		img {
			min-width: 100%;
			min-height: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}
}